{#if amdDisHtml}
  <div class="my-8">
    <h2 class="my-4">Amendement</h2>
    {@html amdDisHtml}
  </div>
{/if}
<div class="my-8">
  <h2 class="my-4">Article avant modification</h2>
  {#each subdivision.html.headers as subdivisionHeader}
    {@html subdivisionHeader}
  {/each}
  {#each subdivision.html.alineas as subdivisionAlinea}
    {@html subdivisionAlinea}
  {/each}
</div>
{#if amdDisText}
  <div class="my-8">
    <h2 class="my-4">Amendement tel qu'envoyé à Durafront</h2>
    <pre class="whitespace-pre-wrap">
      {@html amdDisText}
    </pre>
  </div>
{/if}
<div class="my-8">
  <h2 class="my-4">Article tel qu'envoyé à Durafront</h2>
  {#if subdivision.text.headers.length > 0}
    <pre class="font-semibold text-lg whitespace-pre-wrap">{subdivision.text.headers.join("\n")}</pre>
  {/if}
  {#if subdivision.text.alineas.length > 0}
    <pre class="whitespace-pre-wrap">{subdivision.text.alineas.join("\n")}</pre>
  {/if}
</div>
{#if diff}
  <div class="my-8">
    <h2 class="my-4">Résultat de Durafront</h2>
    <pre class="whitespace-pre-wrap">
      {JSON.stringify(diff, null, 2)}
    </pre>
  </div>
  {#if diff.data && diff.data["anonymous law"] && diff.data["anonymous law"]["anonymous article"] && diff.data["anonymous law"]["anonymous article"].text}
    <div class="my-8">
      <h2 class="my-4">Effets de l'amendement</h2>
      <div>
        <p>{@html
          diff.data["anonymous law"]["anonymous article"].text
            .trim()
            .replace(/\n\n/g, "</p><p>")
            .replace(/<del amendement="[a-z0-9-]+"><\/del>\n<del amendement="[a-z0-9-]+"><\/del>\n<del /g, "</p><p><del ")
            .replace(/<\/del>\n<del amendement="[a-z0-9-]+"><\/del>\n<del amendement="[a-z0-9-]+"><\/del>/g, "</del></p><p>")
            .replace(/<ins amendement="[a-z0-9-]+"><\/ins>\n<ins amendement="[a-z0-9-]+"><\/ins>\n<ins /g, "</p><p><ins ")
            .replace(/<\/ins>\n<ins amendement="[a-z0-9-]+"><\/ins>\n<ins amendement="[a-z0-9-]+"><\/ins>/g, "</ins></p><p>")
            .replace(/\n/g, "<br>")
        }</p>
      </div>
    </div>
  {/if}
{/if}

<script>
  import fetch from "cross-fetch"

  // import config from "../../../../../../config"
  import { newGraphqlAgent } from "../_requests"

  export default {
    data() {
      return {
        amdDisHtml: null,
        amdDisText: null,
        diff: null,
      }
    },

    // helpers: {
    //   config,
    // },

    async oncreate() {
      // This code is put inside oncreate to be executed in the browser only.
      const { amd, subdivision } = this.get()

      // eslint-disable-next-line no-undef
      const amdDisParser = new DOMParser()
      const amdDisDoc = amdDisParser.parseFromString(amd.dis, "text/html")
      // eslint-disable-next-line no-undef
      const amdDisHtml = new XMLSerializer().serializeToString(amdDisDoc.body)
      const amdDisText = amdDisDoc.body.textContent

      this.set({
        amdDisHtml,
        amdDisText,
      })

      const response = await fetch("durafront", {
        body: JSON.stringify({
          texteAmendement: amdDisText,
          texteArticle: subdivision.text.alineas.length === 0
            ? subdivision.text.headers.join("\n")
            : subdivision.text.alineas.join("\n"),
        }, null, 2),
        credentials: "same-origin",
        headers: {
          "Content-Type": "application/json; charset=utf-8",
        },
        method: "POST",
      })
      const result =
        response.ok
          ? await response.json()
          : { error: { code: response.status, message: response.statusText } }
      if (result.error) {
        console.log("Error while calling Durafront", result.error.code, result.error.message)
      }
      this.set({
        diff: result,
      })
    },

    async preload({ params /* , query */ }) {
      const { discussionAgent } = newGraphqlAgent(parseInt(params.annee), params.numero).agentBySymbol
      await discussionAgent.fetchGraphqlData()
      const discussion = discussionAgent
        .graphqlData
        .data
        .discussion

      const texteUrl = "/texte_senat"
      let response = await this.fetch(texteUrl, {
        body: JSON.stringify({
          ids: discussion.subs
            .map(sub => sub.sig)
            .filter(id => id !== null),
          url: discussion.texte.texurl,
        }, null, 2),
        credentials: "same-origin",
        headers: {
          "Content-Type": "application/json; charset=utf-8",
        },
        method: "POST",
      })
      let result =
        response.ok || response.status === 400
          ? await response.json()
          : { error: { code: response.status, message: response.statusText } }
      if (result.error) {
        console.log(`An error occured while calling ${texteUrl}:`, result)
      }

      const amd = discussion.amds.filter(amd => amd.num === params.amendement)[0]
      const sub = discussion.subs.filter(sub => sub.id === amd.subid)[0]

      return {
        amd,
        discussion,
        subdivision: result.subdivisions[sub.sig],
      }
    },
  }
</script>