<svelte:head>
  <title>Amendements | {texteLeg.texteLegislatif.titres.titrePrincipalCourt} | Assemblée | Documents | {config.title}</title>
</svelte:head>

<article>
  <header class="mx-2 my-4">
    <h1>
      Amendements
    </h1>
    <h2 class="font-medium italic mt-1 text-grey-darker"><b>{texteLeg.texteLegislatif.denominationStructurelle} :</b> {texteLeg.texteLegislatif.titres.titrePrincipalCourt}
    </h2>
  </header>

  {#each subdivisions as subdivision}
    {#if amendementsBySubdivisionId[subdivision.id] !== undefined}
      <section class="bg-grey-lighter p-4">
        <header>
          {#each subdivision.text.headers as header}
            <h3 class="{subdivisionLevelToClass(subdivision.level)} text-center">
              {header}
            </h3>
          {/each}
        </header>
        {#each amendementsBySubdivisionId[subdivision.id] as amendement (`amendement_${amendement.uid}`)}
          <article class="bg-white border container mx-auto my-4 p-4 shadow">
            <h3>
              <a href="/documents/assemblee/{texteLeg.refTexteLegislatif}/amendements/{amendement.identifiant.numero}" title="Détails de l'amendement">
                {
                  amendement.amendementParent === null
                    ? "Amendement"
                    : "Sous-amendement"
                }
                {amendement.numeroLong}
              </a>
              <span class="bg-{etatColor(amendement)} rounded text-xs text-white">{
                amendement.etat !== "Discuté"
                  ? amendement.etat
                  : amendement.sort.sortEnSeance
              }</span>
            </h3>
            {#if amendement.corps.dispositif}
              <section class="w-full">
                <h4 class="bg-blue cursor-pointer font-bold inline-block mt-5 px-4 py-1 rounded-br-lg rounded-tl-lg text-lg text-white" on:click="toggleDispositif(amendement.uid)">
                  {amendement.pointeurFragmentTexte.division.divisionRattachee}
                  {#if closedDispositifs[amendement.uid]}
                    <i class="fas fa-chevron-circle-down"></i>
                  {:else}
                    <i class="fas fa-chevron-circle-up"></i>
                  {/if}
                </h4>
                {#if !closedDispositifs[amendement.uid]}
                  <div class="border-l-8 border-t-0 border-blue leading-normal px-2 py-3">
                    {@html amendement.corps.dispositif}
                  </div>
                {/if}
              </section>
            {/if}
            {#if amendement.corps.exposeSommaire}
              <section class="w-full">
                <h4 class="bg-grey-dark cursor-pointer font-bold inline-block mt-5 px-4 py-1 rounded-br-lg rounded-tl-lg text-lg text-white" on:click="toggleObjet(amendement.uid)">
                  Objet
                  {#if closedObjets[amendement.uid]}
                    <i class="fas fa-chevron-circle-down"></i>
                  {:else}
                    <i class="fas fa-chevron-circle-up"></i>
                  {/if}
                </h4>
                {#if !closedObjets[amendement.uid]}
                  <div class="bg-grey-lighter border-l-8 border-t-0 border-grey-dark leading-normal px-2 py-3">
                    {@html amendement.corps.exposeSommaire}
                  </div>
                {/if}
              </section>
            {/if}
            {#if amendement.corps.dispositif && diffs[amendement.uid] !== null}
              <section class="w-full">
                <h4 class="bg-teal cursor-pointer font-bold inline-block mt-5 px-4 py-1 rounded-br-lg rounded-tl-lg text-lg text-white" on:click="toggleDiff(subdivision.id, amendement.uid)">
                  Effet
                  {#if openDiffs[amendement.uid]}
                    <i class="fas fa-chevron-circle-up"></i>
                  {:else}
                    <i class="fas fa-chevron-circle-down"></i>
                  {/if}
                </h4>
                {#if openDiffs[amendement.uid]}
                  <div class="border-l-8 border-t-0 border-teal leading-normal px-2 py-3">
                    {#if typeof diffs[amendement.uid] === "string"}
                      {diffs[amendement.uid]}
                    {:elseif diffs[amendement.uid]}
                      {#if diffs[amendement.uid].data
                        && diffs[amendement.uid].data["anonymous law"]
                        && diffs[amendement.uid].data["anonymous law"]["anonymous article"]
                        && diffs[amendement.uid].data["anonymous law"]["anonymous article"].text
                      }
                        {#if diffs[amendement.uid].data.warnings}
                          <div class="mx-auto my-4" role="alert">
                            <div class="bg-orange font-bold rounded-t px-4 py-2 text-white">
                              <i class="fas fa-exclamation-triangle"></i> Attention !
                            </div>
                            <div class="bg-orange-lightest border border-orange-light border-t-0 px-4 py-3 rounded-b text-orange-dark">
                              <p>
                                Une erreur s'est produite lors du calcul de l'effet de l'amendement. Le résultat ci-dessous est <b>erroné</b>.
                              </p>
                            </div>
                          </div>
                        {/if}
                        <h5>
                          {#if diffs[amendement.uid].data["anonymous law"]["anonymous article"].type === "added"}
                            Article additionnel
                          {:elseif diffs[amendement.uid].data["anonymous law"]["anonymous article"].type === "deleted"}
                            Article supprimé
                          {:else}
                            Modification
                          {/if}
                        </h5>
                        <p>{@html
                          diffs[amendement.uid].data["anonymous law"]["anonymous article"].text
                            .trim()
                            .replace(/\n\n/g, "</p><p>")
                            .replace(/<del amendement="[a-z0-9-]+"><\/del>\n<del amendement="[a-z0-9-]+"><\/del>\n<del /g, "</p><p><del ")
                            .replace(/<\/del>\n<del amendement="[a-z0-9-]+"><\/del>\n<del amendement="[a-z0-9-]+"><\/del>/g, "</del></p><p>")
                            .replace(/<ins amendement="[a-z0-9-]+"><\/ins>\n<ins amendement="[a-z0-9-]+"><\/ins>\n<ins /g, "</p><p><ins ")
                            .replace(/<\/ins>\n<ins amendement="[a-z0-9-]+"><\/ins>\n<ins amendement="[a-z0-9-]+"><\/ins>/g, "</ins></p><p>")
                            .replace(/\n/g, "<br>")
                        }</p>
                      {:else}
                        <p>Le calcul de l'effet de l'amendement n'est pas possible :</p>
                        <pre class="whitespace-pre-wrap">{JSON.stringify(diffs[amendement.uid], null, 2)}</pre>
                      {/if}
                    {/if}
                    <p class="bg-teal-lightest italic mt-2 text-center text-teal-darker text-sm">
                      Calcul des effets de l'amendement réalisé par <a href="https://archeo-lex.fr/durafront/" target="_blank">Durafront</a>
                    </p>
                  </div>
                {/if}
              </section>
            {/if}
            <section class="w-full">
              <h4 class="bg-indigo cursor-pointer font-bold inline-block mt-5 px-4 py-1 rounded-br-lg rounded-tl-lg text-lg text-white" on:click="toggleAuteur(amendement.uid)">
                Présenté par
                {#if closedAuteurs[amendement.uid]}
                  <i class="fas fa-chevron-circle-down"></i>
                {:else}
                  <i class="fas fa-chevron-circle-up"></i>
                {/if}
              </h4>
              {#if !closedAuteurs[amendement.uid]}
                <div class="border-l-8 border-t-0 border-indigo leading-normal px-2 py-3">
                  <div>
                    {#if amendement.signataires.auteur.typeAuteur === "Gouvernement"}
                      <div class="inline-flex items-center">
                        <img alt="Logo du gouvernement" src="/logo_gouvernement.png" title="Le Gouvernement">
                        <div class="font-semibold italic ml-4">Le Gouvernement</div>
                      </div>
                    {:elseif ["Depute", "Rapporteur"].includes(amendement.signataires.auteur.typeAuteur)}
                      <div class="inline-flex items-center">
                        <a href="/deputes/{amendement.signataires.auteur.acteur.uid}">
                          <img
                            alt="{photoAlt(amendement.signataires.auteur.acteur.etatCivil)}"
                            class="h-32"
                            src={resolveUrl(config.assembleeApiUrl, `/assets/${amendement.signataires.auteur.acteur.photo.chemin}`)}
                            title="{amendement.signataires.auteur.acteur.etatCivil.ident.prenom} {amendement.signataires.auteur.acteur.etatCivil.ident.nom}"
                          >
                        </a>
                        <div class="leading-normal ml-4">
                          <a class="font-semibold italic" href="/deputes/{amendement.signataires.auteur.acteur.uid}">
                            <!-- {amendement.signataires.auteur.acteur.etatCivil.ident.civ} -->
                            {amendement.signataires.auteur.acteur.etatCivil.ident.prenom}
                            {amendement.signataires.auteur.acteur.etatCivil.ident.nom}
                          </a>
                          <!-- Le typeAuteur n'est pas fiable pour savoir si un député est ou non rapporteur.
                          {#if amendement.signataires.auteur.typeAuteur === "Rapporteur"}
                            <i class="text-sm">(rapporteur)</i>
                          {/if} -->
                          {#if qualiteByActeurId[amendement.signataires.auteur.acteur.uid]}
                            <i class="text-sm">({qualiteByActeurId[amendement.signataires.auteur.acteur.uid]})</i>
                          {/if}
                          <!-- Le texteAffichable n'apporte pas d'information par rapport à la liste des cosignataires.
                          {#if amendement.signataires.texteAffichable}
                            {@html amendement.signataires.texteAffichable}
                          {/if} -->
                          {#if amendement.signataires.auteur.groupePolitique}
                            <div>
                              {amendement.signataires.auteur.groupePolitique.libelle}
                            </div>
                          {/if}
                          <!-- L'organe (la commission) est très souvent absent.
                          {#if amendement.signataires.auteur.organe}
                            <div>
                              {amendement.signataires.auteur.organe.libelle}
                            </div>
                          {/if} -->
                        </div>
                      </div>
                    {:else}
                      <div class="font-semibold italic">Auteur de type inconnu :</div>
                      <pre class="whitespace-pre-wrap">{JSON.stringify(amendement.signataires.auteur, null, 2)}</pre>
                    {/if}
                  </div>
                  {#if amendement.signataires.cosignataires.length > 1}
                    <div class="mt-4">
                      <h4 class="mb-2">
                        {amendement.signataires.cosignataires.length - 1}
                        {amendement.signataires.cosignataires.length > 2 ? "cosignataires" : "cosignataire"}
                      </h4>
                      <p>
                        {#each amendement.signataires.cosignataires as cosignataire, cosignataireIndex}
                          {#if cosignataire.uid !== amendement.signataires.auteur.acteur.uid}
                            <a href="/deputes/{cosignataire.uid}">{cosignataire.etatCivil.ident.prenom} {cosignataire.etatCivil.ident.nom}</a>{
                              cosignataireIndex < amendement.signataires.cosignataires.length - 2
                                ? ", "
                                : cosignataireIndex < amendement.signataires.cosignataires.length - 1
                                  ? " et "
                                  : ""
                            }
                          {/if}
                        {/each}
                      </p>
                    </div>
                  {/if}
                </div>
              {/if}
            </section>
          </article>
        {/each}
      </section>
    {/if}
  {/each}
</article>

<aside class="my-4 px-2 py-4 text-sm" role="complementary">
  <div class="flex flex-wrap -mx-2 -my-4">
    <!-- <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-indigo font-bold px-4 py-2 rounded-t text-lg text-white">
        Pour en savoir plus
      </h2>
      <div class="bg-indigo-lightest border border-t-0 border-indigo-light px-4 py-3 rounded-b text-indigo-dark">
        {#if dossierLegislatif.urlAn}
          <h3 class="font-medium mb-1 text-base text-normal">
            Assemblée nationale
          </h3>

          <ul class="list-reset">
            <li><a href="{dossierLegislatif.urlAn}" target="_blank">Dossier législatif {dossierLegislatif.typloi.typloide} {dossierLegislatif.typloi.typloiden}</a></li>
          </ul>
        {/if}

        <h3 class="font-medium mb-1{dossierLegislatif.urlAn ? " mt-4" : ""} text-base text-normal">
          Sénat
        </h3>

        <ul class="list-reset">
          <li><a href="https://www.senat.fr/dossier-legislatif/{dossierLegislatif.signet}.html" target="_blank">Dossier législatif {dossierLegislatif.typloi.typloide} {dossierLegislatif.typloi.typloiden}</a></li>
        </ul>

        {#if dossierLegislatif.doscocurl}
          <h3 class="font-medium mb-1 mt-4 text-base text-normal">
            Conseil constitutionnel
          </h3>

          <ul class="list-reset">
            <li><a href={dossierLegislatif.doscocurl} target="_blank">Dossier législatif {dossierLegislatif.typloi.typloide} {dossierLegislatif.typloi.typloiden}</a></li>
          </ul>
        {/if}

        <h3 class="font-medium mb-1 mt-4 text-base text-normal">
          La fabrique de la loi
        </h3>

        <ul class="list-reset">
          <li><a href="https://www.lafabriquedelaloi.fr/articles.html?loi={dossierLegislatif.signet}" target="_blank">Étapes et versions {dossierLegislatif.typloi.typloide} {dossierLegislatif.typloi.typloiden}</a></li>
        </ul>

        {#if archeoLexUrl !== null}
          <h3 class="font-medium mb-1 mt-4 text-base text-normal">
            Archéo Lex
          </h3>

          <ul class="list-reset">
            <li><a href={archeoLexUrl} target="_blank">
              Historique de la loi n° {dossierLegislatif.numero}
              du {displayDateWithoutDayOfWeekFromEpoch(dossierLegislatif.dateLoi)}
              {dossierLegislatif.loititjo}
            </a></li>
          </ul>
        {/if}
      </div>
    </div> -->

    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-teal font-bold px-4 py-2 rounded-t text-lg text-white">
        Les coulisses techniques
      </h2>
      <div class="bg-teal-lightest border border-t-0 border-teal-light px-4 py-3 rounded-b text-teal-dark">
        <ul class="list-reset">
          <li><button class="button-link" on:click="fire('openNewIssueModal')" title="Ouvre un formulaire de saisie d'une remarque sur cette page." type="button">Signaler un problème ou suggérer une amélioration</button></li>
          <li><a href="/documents/assemblee/{texteLeg.refTexteLegislatif}/amendements/api" target="_blank" title="Voir les appels à l'API effectués pour générer cette page.">Appels à l'API</a></li>
          <li><a href="https://framagit.org/tricoteuses/tricoteuses-ui/blob/master/src/routes/documents/assemblee/[document]/amendements/index.html" target="_blank" title="Voir le code source de la page dans la forge du logiciel.">Code source de cette page</a></li>
        </ul>
      </div>
    </div>
  </div>
</aside>

<script>
  import assert from "assert"
  import fetch from "cross-fetch"
  import resolveUrl from "url-resolve"

  import config from "../../../../../config"
  import { newGraphqlAgent } from "../../../../../model/assemblee/amendements"

  export default {
    computed: {
      qualiteByActeurId({ texteLeg }) {
        return texteLeg.texteLegislatif.auteurs
          .filter(auteur => auteur.acteur !== null)
          .reduce((qualiteByActeurId, auteur) => {
            const acteur = auteur.acteur
            qualiteByActeurId[acteur.acteurRef] = acteur.qualite
            return qualiteByActeurId
          }, {})
      }
    },
    data() {
      return {
        closedAuteurs: {},
        closedDispositifs: {},
        closedObjets: {},
        diffs: {},
        openDiffs: {},
      }
    },
    helpers: {
      config,
      etatColor(amendement) {
        return amendement.etat !== "Discuté"
          ? "red"
          : amendement.sort.sortEnSeance === "Adopté"
            ? "green"
            : amendement.sort.sortEnSeance === "Non soutenu"
              ? "orange"
              : amendement.sort.sortEnSeance === "Rejeté"
                ? "red"
                : amendement.sort.sortEnSeance === "Retiré"
                  ? "orange"
                  : amendement.sort.sortEnSeance === "Tombé"
                    ? "orange"
                    : "yellow"
      },
      photoAlt: etatCivil => {
        const {civ, nom, prenom} = etatCivil.ident
        return `Photo de ${civ} ${prenom} ${nom}`
      },
      resolveUrl,
      subdivisionLevelToClass(level) {
        switch(level) {
          case 1:
            // Tome
            return "text-5xl"
          case 2:
            // Partie
            return "text-4xl"
          case 3:
            // Livre
            return "text-4xl"
          case 4:
            // Titre
            return "text-4xl"
          case 5:
            // Chapitre
            return "text-3xl"
          case 6:
            // Section
            return "text-2xl"
          case 7:
            // Sous-section
            return "text-xl"
          case 8:
            // Paragraphe
            return "text-lg"
          case 9:
            // Article
            return "italic text-xl"
          default:
            return "text-lg"
        }
      },
    },
    methods: {
      toggleAuteur(amendementUid) {
        let { closedAuteurs } = this.get()
        closedAuteurs = {
          ...closedAuteurs,
          [amendementUid]: !closedAuteurs[amendementUid],
        }
        this.set({ closedAuteurs })
      },
      async toggleDiff(subdivisionId, amendementUid) {
        let { diffs, openDiffs, subdivisions, texteLeg } = this.get()
        const openDiff = !openDiffs[amendementUid]
        openDiffs = {
          ...openDiffs,
          [amendementUid]: openDiff,
        }
        this.set({ openDiffs })
        if (openDiff) {
          let diff = diffs[amendementUid]
          if (diff === undefined) {
            const amendement = texteLeg.amendements.amendements.filter(amendement => amendement.uid === amendementUid)[0]
            let subdivisionId = amendement.pointeurFragmentTexte.division.urlDivisionTexteVise.split("#", 2)[1]
            const subdivision = subdivisions.filter(subdivision => subdivision.id === subdivisionId)[0]
            if (subdivision === undefined) {
              diffs = {
                ...diffs,
                [amendementUid]: null,
              }
              this.set({ diffs })
            } else {
              diffs = {
                ...diffs,
                [amendementUid]: "Calcul de l'effet de l'amendement en cours…",
              }
              this.set({ diffs })

              // eslint-disable-next-line no-undef
              const amendementDispositifParser = new DOMParser()
              const amendementDispositifDoc = amendementDispositifParser.parseFromString(
                amendement.corps.dispositif, "text/html")
              let amendementDispositifText = amendementDispositifDoc.body.textContent
              if (amendement.pointeurFragmentTexte.division.avantAApres !== "A") {
                // New amendment "Avant" or "Après". Add first line and quotes to each line.
                amendementDispositifText =
                  // For example, divisionRattachee = "APRÈS L'ARTICLE 5 BIS, insérer l'article suivant:".
                  amendement.pointeurFragmentTexte.division.divisionRattachee
                    + "\n"
                    + amendementDispositifText.trim().split("\n").map(line => `« ${line}`).join("\n")
                    + " »"
              }

              const response = await fetch("durafront", {
                body: JSON.stringify({
                  texteAmendement: amendementDispositifText,
                  texteArticle: subdivision.text.alineas.length === 0
                    ? subdivision.text.headers.join("\n")
                    : subdivision.text.alineas.join("\n"),
                }, null, 2),
                credentials: "same-origin",
                headers: {
                  "Content-Type": "application/json; charset=utf-8",
                },
                method: "POST",
              })
              const result =
                response.ok
                  ? await response.json()
                  : { error: { code: response.status, message: response.statusText } }
              if (result.error) {
                console.log("Error while calling Durafront", result.error.code, result.error.message)
              }
              diffs = {
                ...diffs,
                [amendementUid]: result,
              }
              this.set({ diffs })
            }
          }
        }
      },
      toggleDispositif(amendementUid) {
        let { closedDispositifs } = this.get()
        closedDispositifs = {
          ...closedDispositifs,
          [amendementUid]: !closedDispositifs[amendementUid],
        }
        this.set({ closedDispositifs })
      },
      toggleObjet(amendementUid) {
        let { closedObjets } = this.get()
        closedObjets = {
          ...closedObjets,
          [amendementUid]: !closedObjets[amendementUid],
        }
        this.set({ closedObjets })
      },
    },
    async preload({ params /* , query */ }) {
      const agent = newGraphqlAgent(params.document)
      const texteLeg = await agent.retrieveData(this.fetch)
      if (texteLeg === null) {
        return this.error(404, `Document "${params.document}" non trouvé`)
      }
      const amendements = [...texteLeg.amendements.amendements]
        .sort((amendement1, amendement2) => amendement1.triAmendement.localeCompare(amendement2.triAmendement))

      const amendementsBySubdivisionId = {}
      let documentUrlPath = null
      for (let amendement of amendements) {
        const division = amendement.pointeurFragmentTexte.division
        const urlDivisionTexteVise = division.urlDivisionTexteVise
        assert.notStrictEqual(urlDivisionTexteVise, null)
        let [amendementDocumentUrlPath, subdivisionId] = urlDivisionTexteVise.split("#", 2)
        if (documentUrlPath === null) {
          documentUrlPath = amendementDocumentUrlPath
        } else {
          assert.strictEqual(documentUrlPath, amendementDocumentUrlPath)
        }
        let subdivisionAmendements = amendementsBySubdivisionId[subdivisionId]
        if (subdivisionAmendements === undefined) {
          subdivisionAmendements = amendementsBySubdivisionId[subdivisionId] = []
        }
        subdivisionAmendements.push(amendement)
      }
      assert.notStrictEqual(documentUrlPath, null)

      const texteUrl = "/texte_assemblee"
      let response = await this.fetch(texteUrl, {
        body: JSON.stringify({
          url: documentUrlPath,
        }, null, 2),
        credentials: "same-origin",
        headers: {
          "Content-Type": "application/json; charset=utf-8",
        },
        method: "POST",
      })
      let result =
        response.ok || response.status === 400
          ? await response.json()
          : { error: { code: response.status, message: response.statusText, text: await response.text() } }
      if (result.error) {
        console.log(`An error occured while calling ${texteUrl}:`, result)
        return this.error(
          result.error.code,
          `Une erreur s'est produite lors de la récupération du document "${params.document}"" sur "${documentUrlPath}".`,
        )
      }
      const { subdivisions } = result

      return {
        amendementsBySubdivisionId,
        subdivisions,
        texteLeg,
      }
    },
  }
</script>