<nav aria-label="main navigation" class="fixed flex items-top justify-between flex-wrap bg-teal-darker px-2 w-full z-10" role="navigation">
  <div class="flex flex-col flex-grow items-baseline my-1 md:flex-row">
    <div class="flex items-baseline flex-no-shrink text-white mr-6 my-2">
      <a class="font-medium italic no-underline text-teal-lightest text-xl tracking-tight" href="{config.url}" rel="prefetch" title="{config.missionStatement}">
        <i class="fas fa-vote-yea"></i> {config.title}
      </a>
    </div>
    <div class="{showMenu ? "block" : "hidden"} flex-grow w-full md:flex md:items-center md:w-auto">
      <div class="flex flex-col md:flex-grow md:flex-row">
        {#each config.leftMenu as menuItem}
          <span class="inline-flex">
            <a
              class="block border-b-2 flex-none mr-4 mt-4 no-underline pb-2 md:mt-0 hover:text-white {
                (child.segment || ".") === menuItem.url ? "text-teal-lighter" : "border-teal-darker text-teal-lightest"
              }"
              href="{menuItem.url || ""}"
              rel="{menuItem.prefech ? "prefetch" : null}"
              title="{menuItem.title || null}"
            >
              {menuItem.contentHtml}
            </a>
          </span>
        {/each}
      </div>
      <div class="flex flex-col md:flex-row">
        {#each config.rightMenu as menuItem}
          <span class="inline-flex">
            <a
              class="block border-b-2 flex-none mr-4 mt-4 no-underline pb-2 md:mt-0 hover:text-white {
                (child.segment || ".") === menuItem.url ? "text-teal-lighter" : "border-teal-darker text-teal-lightest"
              }"
              href="{menuItem.url || ""}"
              rel="{menuItem.prefech ? "prefetch" : null}"
              title="{menuItem.title || null}"
            >
              {menuItem.contentHtml}
            </a>
          </span>
        {/each}
        {#if config.enableAuthentication}
          <span class="inline-flex">
            {#if $user}
              <a class="block border-b-2 border-teal-darker mt-4 no-underline pb-2 text-teal-lightest md:inline-block md:mt-0 hover:text-white" href="logout" on:click="logout(event)">Déconnexion</a>
            {:else}
              <a class="block border-b-2 border-teal-darker mt-4 no-underline pb-2 text-teal-lightest md:inline-block md:mt-0 hover:text-white" href="login" rel="prefetch">Connexion</a>
            {/if}
          </span>
        {/if}
      </div>
    </div>
  </div>
  <div class="block my-2 md:hidden">
    <button
      class="border border-teal-light flex items-center px-3 py-2 rounded text-teal-lightest hover:border-white hover:text-white"
      on:click="burgerButtonClicked()"
    >
      <i class="fas fa-bars"></i>
    </button>
  </div>
</nav>

<main class="absolute pin pt-12">
  {#if config.globalAlert}
    {@html config.globalAlert.messageHtml}
  {/if}
  <svelte:component this={child.component} {...child.props} on:openNewIssueModal="set({ showNewIssueModal: true })"/>
  {#if showNewIssueModal}
    <NewIssueModal on:close="set({ showNewIssueModal: false })" {path}/>
  {/if}
</main>

<script>
  import { goto } from "../../__sapper__/client"
  import config from "../config"

  export default {
    components: {
      NewIssueModal: "../components/NewIssueModal.html",
    },
    data() {
      return {
        showMenu: false,
        showNewIssueModal: false,
      }
    },
    helpers: {
      config,
    },
    methods: {
      burgerButtonClicked() {
        const { showMenu } = this.get()
        this.set({ showMenu: !showMenu })
      },
      logout(event) {
        event.preventDefault()

        this.store.logout().then(() => {
          goto("/")
        })
          .catch(err => {
            // TODO handle network errors
            console.error({ err })
          })
      },
    },
  }
</script>
