<svelte:head>
  <title>À propos | {config.title}</title>
</svelte:head>

<section class="bg-yellow-lightest container my-4 mx-auto p-4 shadow-lg text-yellow-darkest">
  <div class="my-8">
    <h1>À propos des <i>Tricoteuses</i></h1>
    <p class="text-yellow-darker text-xl">{config.missionStatement}</p>
  </div>

  <p>Les <i>Tricoteuses</i> désignent les femmes du peuple qui, pendant la Révolution française de 1789, assistaient aux séances de la Convention nationale, des clubs populaires et du tribunal révolutionnaire tout en tricotant (en cousant). <a href="https://fr.wikipedia.org/wiki/Tricoteuses" target="_blank">Plus d'informations…</a></p>

  <figure class="m-4 text-center">
    <img alt="Tableau « Les Tricoteuses jacobines »" class="rounded tricoteuses-jacobines" src="/tricoteuses_jacobines_1301x1907.jpg">
    <figcaption class="text-yellow-darker text-sm">
      <i>Les Tricoteuses jacobines</i>, gouache de Jean-Baptiste Lesueur, 1793,<br>
      Musée Carnavalet, domaine public. <a href="https://commons.wikimedia.org/w/index.php?curid=10126813" target="_blank">Plus d'informations…</a></figcaption>
  </figure>

  <p>Le projet <i>Tricoteuses</i> est un ensemble de <a href="https://framagit.org/tricoteuses" target="_blank">logiciels libres</a> développés à partir des données publiques de :</p>
  <ul>
    <li>l'<a href="http://www.assemblee-nationale.fr/" target="_blank">Assemblée nationale</a></li>
    <li>la <a href="https://www.hatvp.fr/" target="_blank">Haute autorité pour la transparence de la vie publique (HATVP)</a></li>
    <li><a href="https://www.regardscitoyens.org/#&panel1-1" target="_blank">Regards citoyens</a></li>
    <li>le <a href="https://www.senat.fr/" target="_blank">Sénat</a></li>
    <li><a href="https://fr.wikipedia.org/" target="_blank">Wikipédia</a></li>
  </ul>

  <h2 class="mb-4 mt-8">Comment contribuer</h2>

  <p>Un <a href="https://framagit.org/tricoteuses/tricoteuses-ui/issues" target="_blank"><strong>support technique en ligne</strong></a> est dédié au projet. Il permet de poser vos questions, signaler des problèmes rencontrés et suggérer des améliorations.</p>

  <p>Vous pouvez aussi tricoter directement vos contributions dans la <a href="https://framagit.org/tricoteuses" target="_blank"><strong>forge logicielle</strong> FramaGit</a>.</p>

  <p><i>Tricoteuses</i> se veut une « plateforme technique parlementaire » ouverte à l'intégration d'autres services externes, expérimentaux ou non. Si vous développez un tel service, n'hésitez pas à nous contacter afin de trouver ensemble la meilleure manière de l'intégrer ou de le référencer.</p>

  <h2 class="mb-4 mt-8">Éditeur, directeur de la publication et hébergeur</h2>

  <address class="text-yellow-darker">
  <b class="font-medium text-yellow-darkest">Emmanuel Raviart</b><br>
  2 rue Alphonse Daudet<br>
  92320 Chatillon<br>
  France<br>
  Téléphone : +33 7 81 94 04 50<br>
  Courriel : <a href="mailto:emmanuel@raviart.com">emmanuel@raviart.com</a><br>
  </address>

  <h2 class="mb-4 mt-8">Protection des données personnelles</h2>

  <p>Ce site ne collecte pas de données personnelles.</p>
</section>

<style>
.tricoteuses-jacobines {
  max-width: 40%;
}
</style>

<script>
  import config from "../config"

  export default {
    helpers: {
      config,
    },
  }
</script>
