<svelte:head>
  <title>API | {config.title}</title>
</svelte:head>

<DataQueries {agent}/>

<script>
  import config from "../config"
  import { newViewAgent } from "../model/dossiers_actuels"

  export default {
    components: {
      DataQueries: "../components/DataQueries.html",
    },
    helpers: {
      config,
    },
    async preload(/* { params, query } */) {
      return {
        agent: newViewAgent(),
      }
    },
  }
</script>