<svelte:head>
  <title>{config.title}</title>
</svelte:head>

<SearchForm searchPath="recherche" {term}/>

<section class="mx-2">
  <h1 class="my-4">Dossiers législatifs en cours</h1>

  <ul class="list-reset">
    {#each dossiersActuelsKnitted as dossierKnitted}
      {#if dossierKnitted.assemblee !== null}
        <!-- TODO: Remove this dummy `each`. -->
        {#each [dossierKnitted.assemblee] as dossierAssemblee}
          <li id="{dossierAssemblee.uid}">
            <a class="flex my-2 no-underline text-black" href="/dossiers/assemblee/{dossierAssemblee.uid}">
              <!-- TODO: Remove this dummy `each`. -->
              {#each [dossierAssemblee.summaryStepsKnitted[dossierAssemblee.summaryStepsKnitted.length - 1]] as summaryStep}
                <div
                  class="bg-{
                    summaryStep.status === null || summaryStep.status.finalSuccess === null
                    ? summaryStep.color
                    : summaryStep.status.color
                  } flex flex-col flex-none mr-1 p-1 text-center text-white"
                >
                  <!-- <div class="text-grey-lightest text-xs">Échellon</div> -->
                  <div class="flex flex-auto flex-col justify-center">
                      <span class="inline-block text-3xl">
                        {dossierAssemblee.summaryStepsKnitted.length}
                        {#if summaryStep.status === null || summaryStep.status.finalSuccess === null}
                          <i class="fas fa-fw fa-ellipsis-h"></i>
                        {:elseif summaryStep.status.finalSuccess}
                          <i class="fas fa-fw fa-check"></i>
                        {:else}
                          <i class="fas fa-fw fa-times"></i>
                        {/if}
                      </span>
                  </div>
                </div>
              {/each}
              <div class="flex-auto">
                {dossierAssemblee.titreDossier.titre}
                <div class="my-1 text-grey-darker text-sm">
                  <span>{dossierAssemblee.procedureParlementaire.libelle}</span>
                  <!-- <span class="bg-{dossierAssemblee.statusKnitted.color} px-1 rounded text-white">{dossierAssemblee.statusKnitted.label}</span> -->
                  <!-- —
                  Étape {dossierAssemblee.summaryStepsKnitted.length} -->
                  <!-- — -->
                  <!-- TODO: Remove this dummy `each`. -->
                  <!-- {#each [dossierAssemblee.summaryStepsKnitted[dossierAssemblee.summaryStepsKnitted.length - 1]] as summaryStep}
                    <span class="bg-{summaryStep.color} my-1 p-1 text-white">
                      {summaryStep.organeName}{
                      #if summaryStep.title !== null}
                        —
                        {summaryStep.title}{
                      /if}
                    </span>
                    {#if summaryStep.status !== null && summaryStep.status.label !== null}
                      <span class="bg-{summaryStep.status.color} p-1 rounded text-base text-white">{summaryStep.status.label}</span>
                    {/if}
                  {/each} -->
                </div>
                {#if dossierAssemblee.previousSummaryStepKnitted !== null}
                  <!-- TODO: Remove this dummy `each`. -->
                  {#each [dossierAssemblee.previousSummaryStepKnitted] as summaryStep}
                    <div class="my-1 text-sm">
                      <span class="italic text-grey-darker">Dernière étape {displayDateFromString(summaryStep.date)} :</span>
                      <span class="font-semibold text-{summaryStep.color}">
                        {summaryStep.organeName}{
                        #if summaryStep.title !== null
                          }, {summaryStep.title}{
                        /if
                      }</span><span>, {
                        summaryStep.libelle
                      }</span>
                      {#if summaryStep.status !== null && summaryStep.status.label !== null}
                        <span class="bg-{summaryStep.status.color} px-1 rounded text-white">{summaryStep.status.label}</span>
                      {/if}
                    </div>
                  {/each}
                {/if}
                {#if dossierAssemblee.nextSummaryStepKnitted !== null}
                  <!-- TODO: Remove this dummy `each`. -->
                  {#each [dossierAssemblee.nextSummaryStepKnitted] as summaryStep}
                    <div class="my-1 text-sm">
                      <span class="italic text-grey-darker">Prochaine étape {displayDateFromString(summaryStep.date)} :</span>
                      <span class="font-semibold text-{summaryStep.color}">
                        {summaryStep.organeName}{
                        #if summaryStep.title !== null
                          }, {summaryStep.title}{
                        /if
                      }</span><span>, {
                        summaryStep.libelle
                      }</span>
                      {#if summaryStep.status !== null && summaryStep.status.label !== null}
                        <span class="bg-{summaryStep.status.color} px-1 rounded text-white">{summaryStep.status.label}</span>
                      {/if}
                    </div>
                  {/each}
                {/if}
              </div>
              <!-- {#if dossierAssemblee.currentDateKnitted !== null}
                <CalendarDate date={parseDate(dossierAssemblee.currentDateKnitted)} {now}/>
              {/if} -->
            </a>
          </li>
        {/each}
      {:elseif dossierKnitted.senat !== null}
        <!-- TODO: Remove this dummy `each`. -->
        {#each [dossierKnitted.senat] as dossierSenat}
          <li>
            <a href="/dossiers/senat/{dossierSenat.signet}">{dossierSenat.loient}</a>
            <span class="bg-{colorFromEtaloilib(dossierSenat.etaloi.etaloilib)} px-1 rounded text-xs text-white">{
              dossierSenat.etaloi.etaloilib === "promulgué ou adopté (ppr)"
                ? "adopté"
                : dossierSenat.etaloi.etaloilib
            }</span>
          </li>
        {/each}
      {/if}
    {/each}
  </ul>
</section>

<aside class="my-4 px-2 py-4 text-sm" role="complementary">
  <div class="flex flex-wrap -mx-2 -my-4">
    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-indigo font-bold px-4 py-2 rounded-t text-lg text-white">
        Pour en savoir plus
      </h2>
      <div class="bg-indigo-lightest border border-t-0 border-indigo-light px-4 py-3 rounded-b text-indigo-dark">
        <h3 class="font-medium mb-1 text-base text-normal">
          Assemblée nationale
        </h3>

        <ul class="list-reset">
          <li><a href="http://www.assemblee-nationale.fr/agendas/odj.asp" target="_blank">Ordre du jour</a></li>
          <li><a href="http://www.assemblee-nationale.fr/{legislature}/liste/texte_ordre_du_jour.asp" target="_blank">Textes inscrits à l'ordre du jour</a></li>
          <li><a href="http://www.assemblee-nationale.fr/{legislature}/documents/tableau-ban.asp" target="_blank">État d'avancement des travaux législatifs</a></li>
          <li><a href="http://www.assemblee-nationale.fr/dyn/{legislature}/dossiers" target="_blank">Liste des dossiers législatifs</a></li>
        </ul>

        <h3 class="font-medium mb-1 mt-4 text-base text-normal">
          Sénat
        </h3>

        <ul class="list-reset">
          <li><a href="https://www.senat.fr/ordre-du-jour/ordre-du-jour.html" target="_blank">Ordre du jour</a></li>
          <li><a href="https://www.senat.fr/dossiers-legislatifs/textes-recents.html" target="_blank">Projets et propositions de loi récents ou discutés prochainement</a></li>
        </ul>

        <h3 class="font-medium mb-1 mt-4 text-base text-normal">
          La fabrique de la loi
        </h3>

        <ul class="list-reset">
          <li><a href="https://www.lafabriquedelaloi.fr/lois.html" target="_blank">Textes promulgués depuis 2008</a></li>
        </ul>
      </div>
    </div>

    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-teal font-bold px-4 py-2 rounded-t text-lg text-white">
        Les coulisses techniques
      </h2>
      <div class="bg-teal-lightest border border-t-0 border-teal-light px-4 py-3 rounded-b text-teal-dark">
        <ul class="list-reset">
          <li><button class="button-link" on:click="fire('openNewIssueModal')" title="Ouvre un formulaire de saisie d'une remarque sur cette page." type="button">Signaler un problème ou suggérer une amélioration</button></li>
          <li><a href="/api" target="_blank" title="Voir les appels à l'API effectués pour générer cette page.">Appels à l'API</a></li>
          <li><a href="https://framagit.org/tricoteuses/tricoteuses-ui/blob/master/src/routes/index.html" target="_blank" title="Voir le code source de la page dans la forge du logiciel.">Code source de cette page</a></li>
        </ul>
      </div>
    </div>
  </div>
</aside>

<script>
  import config from "../config"
  import { displayDateFromString } from "../dates"
  import { newViewAgent } from "../model/dossiers_actuels"
  import { colorFromEtaloilib } from "../model/senat/helpers"

  export default {
    components: {
      SearchForm: "../components/SearchForm.html",
    },
    data() {
      return {
        legislature: 15,
        term: "",
      }
    },
    helpers: {
      colorFromEtaloilib,
      displayDateFromString,
      config,
    },
    // oncreate() {
    //   // This fires when the component has been rendered to the DOM.
    //   const { dossiersAssembleeActuels } = this.get()
    //   const today = new Date().toISOString().split("T")[0]
    //   let dayBefore = null
    //   let dossierBefore = null
    //   for (let dossier of [...dossiersAssembleeActuels].reverse()) {
    //     if (dayBefore === null) {
    //       if (dossier.currentDateKnitted < today) {
    //         dayBefore = dossier.currentDateKnitted.split("T")[0]
    //         dossierBefore = dossier
    //       }
    //     } else if (dossier.currentDateKnitted >= dayBefore) {
    //       dossierBefore = dossier
    //     } else {
    //       break
    //     }
    //     if (dossierBefore !== null) {
    //       // eslint-disable-next-line no-undef
    //       const dossierElement = document.getElementById(dossierBefore.uid)
    //       if (dossierElement !== null) {
    //         dossierElement.scrollIntoView()
    //       }
    //       break
    //     }
    //   }
    // },
    async preload(/* { params, query } */) {
      const agent = newViewAgent()
      return await agent.retrieveData(this.fetch)
    },
  }
</script>