<svelte:head>
  <title>Déconnexion | {config.title}</title>
</svelte:head>

<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign Out</h1>

        <form on:submit='submit(event)'>
          <button class="btn btn-lg btn-primary pull-xs-right" type="submit" disabled='{!$user}'>
            Sign out
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  import { goto } from "../../__sapper__/client"

  import config from "../config"

  export default {
    helpers: {
      config,
    },
    methods: {
      submit(event) {
        event.preventDefault()

        this.store.logout().then(() => {
          goto("/")
        })
          .catch(err => {
            // TODO handle network errors
            console.error({ err })
          })
      },
    },
  }
</script>