<svelte:head>
  <title>Recherche | {config.title}</title>
</svelte:head>

<SearchForm searchPath="recherche" {term}/>

{#if hits && hits.length > 0}
  <ul class="list-reset">
    {#each hits as hit}
      <li>
        <a href="dossiers/assemblee/{hit.doc.uid}">{hit.doc.titre}</a>
      </li>
    {/each}
  </ul>
{/if}

<script>
  import resolveUrl from "url-resolve"

  import config from "../config"
  import { buildSearchUrl } from "../strings"

  export default {
    components: {
      SearchForm: "../components/SearchForm.html",
    },
    helpers: {
      config,
    },
    async preload({ /* params, */ query }) {
      const term = query.q || ""
      const url = buildSearchUrl(resolveUrl(config.searchUrl, "dossiers"), {
        term: term,
      })
      let response = await this.fetch(url, {
        credentials: "same-origin",
      })
      let result =
        response.ok
          ? await response.json()
          : { error: { code: response.status, message: await response.text() } }
      if (result.error) {
        console.log(`An error occured while calling ${url}:`, result)
      }
      return {
        ...result,
        term,
      }
    },
  }
</script>