<section>
  <slot/>
  {#if document.__typename === "AvisConseilEtat"}
    <a href={urlFromDocument(document, "pdf")} target="_blank">{
      document.titres.titrePrincipal}
      <small>(PDF  <i class="far fa-file-pdf"></i>)</small></a>
  {:elseif document.__typename === "DocumentEtudeImpact"}
    <a href={urlFromDocument(document, "html")} target="_blank">{
      document.titres.titrePrincipal
    }</a>
    (<a href={urlFromDocument(document, "pdf")} target="_blank">version PDF <i class="far fa-file-pdf"></i></a>)
  {:elseif document.__typename === "RapportParlementaire"}
    <a href={urlFromDocument(document, "html")} target="_blank">{
      document.denominationStructurelle}
      n° {document.notice.numNotice}
      {document.notice.formule
    }</a>
    (<a href={urlFromDocument(document, "pdf")} target="_blank">version PDF <i class="far fa-file-pdf"></i></a>)
  {:elseif document.__typename === "TexteLoi"}
    <a href="/documents/assemblee/{document.uid}">{
      document.denominationStructurelle}
      n° {document.notice.numNotice}
      {document.notice.formule
    }</a>
    <!-- <a href={urlFromDocument(document, "html")} target="_blank">{
      document.denominationStructurelle}
      n° {document.notice.numNotice}
      {document.notice.formule
    }</a>
    (<a href={urlFromDocument(document, "pdf")} target="_blank">version PDF <i class="far fa-file-pdf"></i></a>) -->
  {:else}
    <i>Document de type inconnu : {document.__typename}</i>>
    <pre class="whitespace-pre-wrap">{JSON.stringify(document, null, 2)}</pre>
  {/if}
  {#if document.divisions.length > 0}
    <ul>
      {#each document.divisions as division}
        <li><svelte:self document={division}/></li>
      {/each}
    </ul>
  {/if}
</section>

<script>
  import { urlFromDocument } from "../../model/assemblee/helpers"

  export default {
    helpers: {
      urlFromDocument,
    },
  }
</script>