<svelte:head>
  <title>Députés | {config.title}</title>
</svelte:head>

<h1>Députés</h1>

<div class="flex flex-wrap">
  {#each deputes as depute (depute.uid)}
    <div class="flex p-2 w-full md:w-1/2 lg:w-1/3 xl:w-1/4">
      <div class="flex overflow-hidden rounded shadow-md w-full">
        <!-- Svelte removes background style when rendered on client => use a function to hide the background attribute.
          -->
        <img alt="{photoAlt(depute.etatCivil)}" style="{photoStyle(depute.photo)}" src="/transparent_150x192.png">
        <div class="flex flex-col justify-between p-2">
          <a class="no-underline text-base" href="/deputes/{depute.uid}">{depute.etatCivil.ident.prenom} {depute.etatCivil.ident.nom}</a>
          <p class="italic text-sm">
            {depute.groupePolitique ? depute.groupePolitique.libelle : "Groupe inconnu"}
          </p>
          <p class="text-grey-darker text-sm">
            {depute.commissionPermanente ? depute.commissionPermanente.libelle : "Commission permanente inconnue"}
          </p>
        </div>
      </div>
    </div>
  {/each}
</div>

<aside class="my-4 px-2 py-4 text-sm" role="complementary">
  <div class="flex flex-wrap -mx-2 -my-4">
    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-indigo font-bold px-4 py-2 rounded-t text-lg text-white">
        Pour en savoir plus
      </h2>
      <div class="bg-indigo-lightest border border-t-0 border-indigo-light px-4 py-3 rounded-b text-indigo-dark">
        <h3 class="font-medium mb-1 text-base text-normal">
          Assemblée nationale
        </h3>

        <ul class="list-reset">
          <li><a href="https://www2.assemblee-nationale.fr/qui" target="_blank">Députés</a></li>
        </ul>

        <h3 class="font-medium mb-1 mt-4 text-base text-normal">
          NosDéputés.fr
        </h3>

        <ul class="list-reset">
          <li><a href="https://www.nosdeputes.fr/" target="_blank">Activité parlementaire des députés</a></li>
        </ul>
      </div>
    </div>

    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-teal font-bold px-4 py-2 rounded-t text-lg text-white">
        Les coulisses techniques
      </h2>
      <div class="bg-teal-lightest border border-t-0 border-teal-light px-4 py-3 rounded-b text-teal-dark">
        <ul class="list-reset">
          <li><button class="button-link" on:click="fire('openNewIssueModal')" title="Ouvre un formulaire de saisie d'une remarque sur cette page." type="button">Signaler un problème ou suggérer une amélioration</button></li>
          <li><a href="/deputes/api" target="_blank" title="Voir les appels à l'API effectués pour générer cette page.">Appels à l'API</a></li>
          <li><a href="https://framagit.org/tricoteuses/tricoteuses-ui/blob/master/src/routes/deputes/index.html" target="_blank" title="Voir le code source de la page dans la forge du logiciel.">Code source de cette page</a></li>
        </ul>
      </div>
    </div>
  </div>
</aside>

<script>
  import resolveUrl from "url-resolve"

  import config from "../../config"
  import { newGraphqlAgent } from "./_requests"

  export default {
    helpers: {
      config,
      photoAlt: etatCivil => {
        const {civ, nom, prenom} = etatCivil.ident
        return `Photo de ${civ} ${prenom} ${nom}`
      },
      photoStyle: ({ cheminMosaique, xMosaique: x, yMosaique: y }) => {
        let url = resolveUrl(config.assembleeApiUrl, `/assets/${cheminMosaique}`)
        return `align-self: center; background: url('${url}') ${-x}px  ${-y}px; height: 192px; width: 150px;`
      },
    },
    async preload(/* { params, query } */) {
      const { deputesAgent } = newGraphqlAgent().agentBySymbol
      return {
        deputes: (await deputesAgent.fetchGraphqlData()).data.deputes,
      }
    },
  }
</script>