<svelte:head>
  <title>{depute.etatCivil.ident.prenom} {depute.etatCivil.ident.nom} | Députés | {config.title}</title>
</svelte:head>

<div class="row">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
    <div class="card text-center mt-3">
      {#if depute.photo}
        <!-- Svelte removes background style when rendered on client => use a function to hide the background attribute.
          -->
        <img class="card-img-top" alt="{photoAlt(depute.etatCivil)}" style="{photoStyle(depute.photo)}" src="/transparent_150x192.png">
      {/if}
      <div class="card-body">
        <h4 class="card-title">{depute.etatCivil.ident.prenom} {depute.etatCivil.ident.nom}</h4>
        <p class="card-text"><i>
          {depute.groupePolitique ? depute.groupePolitique.libelle : "Groupe inconnu"}
        </i></p>
        <p class="card-text">
          {depute.commissionPermanente ? depute.commissionPermanente.libelle : "Commission permanente inconnue"}
        </p>
      </div>
    </div>
  </div>

  {#each fonctionsOrganes as fonctionOrgane (fonctionOrgane.code)}
    {#if fonctionOrgane.typesOrganes.some(typeOrgane => typeOrgane.mandats.length > 0)}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="card text-center mt-3">
          <div class="card-body">
            <h4 class="card-title">{fonctionOrgane.libellePluriel}</h4>
          </div>
          {#each fonctionOrgane.typesOrganes as typeOrgane (typeOrgane.code)}
            {#if typeOrgane.mandats.length > 0}
              <div class="card-body">
                <h5 class="card-text">
                  {typeOrgane.mandats.length > 1 ? typeOrgane.libellePluriel : typeOrgane.libelle}
                </h5>
              </div>
              <ul class="list-reset">
                {#each typeOrgane.mandats as mandat (mandat.uid)}
                  <li><a href="/instances/{mandat.organes[0].uid}"  rel="prefetch">{mandat.organes[0].libelle}</a></li>
                {/each}
              </ul>
            {/if}
          {/each}
        </div>
      </div>
    {/if}
  {/each}
</div>

<aside class="my-4 px-2 py-4 text-sm" role="complementary">
  <div class="flex flex-wrap -mx-2 -my-4">
    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-indigo font-bold px-4 py-2 rounded-t text-lg text-white">
        Pour en savoir plus
      </h2>
      <div class="bg-indigo-lightest border border-t-0 border-indigo-light px-4 py-3 rounded-b text-indigo-dark">
        <h3 class="font-medium mb-1 text-base text-normal">
          Assemblée nationale
        </h3>

        <ul class="list-reset">
          <li>
            <a href="https://www2.assemblee-nationale.fr/deputes/fiche/OMC_{depute.uid}" target="_blank">
              Informations sur {depute.etatCivil.ident.prenom} {depute.etatCivil.ident.nom}
            </a>
          </li>
        </ul>

        <h3 class="font-medium mb-1 mt-4 text-base text-normal">
          NosDéputés.fr
        </h3>

        <ul class="list-reset">
          <li>
            <a href="https://www.nosdeputes.fr/TODO" target="_blank">
              Activité parlementaire de {depute.etatCivil.ident.prenom} {depute.etatCivil.ident.nom}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-teal font-bold px-4 py-2 rounded-t text-lg text-white">
        Les coulisses techniques
      </h2>
      <div class="bg-teal-lightest border border-t-0 border-teal-light px-4 py-3 rounded-b text-teal-dark">
        <ul class="list-reset">
          <li><button class="button-link" on:click="fire('openNewIssueModal')" title="Ouvre un formulaire de saisie d'une remarque sur cette page." type="button">Signaler un problème ou suggérer une amélioration</button></li>
          <li><a href="/deputes/{depute.uid}/api" target="_blank" title="Voir les appels à l'API effectués pour générer cette page.">Appels à l'API</a></li>
          <li><a href="https://framagit.org/tricoteuses/tricoteuses-ui/blob/master/src/routes/deputes/[depute]/index.html" target="_blank" title="Voir le code source de la page dans la forge du logiciel.">Code source de cette page</a></li>
        </ul>
      </div>
    </div>
  </div>
</aside>

<script>
  import resolveUrl from "url-resolve"

  import config from "../../../config"
  import { newGraphqlAgent } from "./_requests"

  export default {
    helpers: {
      config,
      photoAlt: etatCivil => {
        const {civ, nom, prenom} = etatCivil.ident
        return `Photo de ${civ} ${prenom} ${nom}`
      },
      photoStyle: ({ cheminMosaique, xMosaique: x, yMosaique: y }) => {
        let url = resolveUrl(config.assembleeApiUrl, `/assets/${cheminMosaique}`)
        return `align-self: center; background: url('${url}') ${-x}px  ${-y}px; height: 192px; width: 150px;`
      },
    },
    async preload({ params /* , query */ }) {
      const { deputeAgent } = newGraphqlAgent(params.depute).agentBySymbol
      await deputeAgent.fetchGraphqlData()
      let {acteur: depute, fonctionsOrganes} = deputeAgent.graphqlData.data
      fonctionsOrganes = fonctionsOrganes.map(fonctionOrgane => ({
        ...fonctionOrgane,
        typesOrganes: fonctionOrgane.typesOrganes.map(typeOrgane => ({
          ...typeOrgane,
          mandats: depute.mandats.filter(mandat => mandat.nominPrincipale && mandat.typeOrgane === typeOrgane.code),
        })),
      }))
      return {
        depute,
        fonctionsOrganes,
      }
    },
  }
</script>