<svelte:head>
  <title>Agenda || {depute.etatCivil.ident.prenom} {depute.etatCivil.ident.nom} | Députés | {config.title}</title>
</svelte:head>

<a class="badge badge-info" href="/deputes/{depute.uid}/agenda/api" title="Voir les appels à l'API effectués pour afficher cette page.">API</a>

<div class="list-group">
  {#each agenda as reunion (reunion.uid)}
    <a class="list-group-item list-group-item-action flex-column align-items-start" href="/reunions/{reunion.uid}" rel="prefetch">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{reunion.uid}</h5>
        <small class="text-muted">{reunion.timestampDebut}</small>
      </div>
      <p class="mb-1">{reunion.typeReunion}</p>
      <small class="text-muted">{reunion.organeReuniRef}</small>
    </a>
  {/each}
</div>

<script>
  import config from "../../../../config"
  import { newGraphqlAgent } from "./_requests"

  export default {
    helpers: {
      config,
    },
    async preload({ params /* , query */ }) {
      const { agendaDeputeAgent, deputeAgent } = newGraphqlAgent(params.depute).agentBySymbol
      await Promise.all([
        agendaDeputeAgent.fetchGraphqlData(),
        deputeAgent.fetchGraphqlData(),
      ])
      let { agenda } = agendaDeputeAgent.graphqlData.data
      let { acteur: depute } = deputeAgent.graphqlData.data
      return {
        agenda,
        depute,
      }
    },
  }
</script>