<svelte:head>
  <title>API | {params.document} | Assemblée | Documents | {config.title}</title>
</svelte:head>

<DataQueries {agent}/>

<script>
  import config from "../../../../config"
  import { newGraphqlAgent } from "../../../../model/assemblee/document"

  export default {
    components: {
      DataQueries: "../../../../components/DataQueries.html",
    },
    helpers: {
      config,
    },
    async preload({ params /* , query */ }) {
      return {
        agent: newGraphqlAgent(params.document),
      }
    },
  }
</script>