<svelte:head>
  <title>{document.titres.titrePrincipalCourt} | Assemblée | Documents | {config.title}</title>
</svelte:head>

<article class="mx-2">
  <header class="my-4">
    <h1 class="font-medium italic mt-1 text-grey-darker"><b>{document.denominationStructurelle} :</b> {document.titres.titrePrincipalCourt}
    </h1>
  </header>

  <div class="flex justify-end mt-6">
    <form action="{resolveUrl(config.amendaUrl, "api/nouveau")}" method="post" on:submit="prepareToAmend()">
      <input name="hostname" type="hidden" value="{config.title}">
      <input name="legislation" type="hidden" value="{legislationToAmend}">
      <input name="originalHostname" type="hidden" value="Assemblée nationale">
      <input name="originalUrl" type="hidden" value="{documentAssembleeUrl}">
      <input name="path" type="hidden" value="assemblee/{document.uid}">
      <input name="title" type="hidden" value="{document.titres.titrePrincipalCourt}">
      <input name="type" type="hidden" value="{document.denominationStructurelle}">
      <input name="url" type="hidden" value="{locationHref}">
      <button class="bg-teal hover:bg-teal-dark font-bold py-2 px-4 rounded text-white" type="submit">
        Amender
      </button>
    </form>
  </div>

  {#each subdivisions as subdivision}
    <section>
      <header>
        {#each subdivision.text.headers as header}
          <h3 class="{subdivisionLevelToClass(subdivision.level)} my-4 text-center">
            {header}
          </h3>
        {/each}
      </header>
      {#each subdivision.text.alineas as alinea}
        <p class="leading-tight my-2">{alinea}</p>
      {/each}
    </section>
  {/each}
</article>

<aside class="my-4 px-2 py-4 text-sm" role="complementary">
  <div class="flex flex-wrap -mx-2 -my-4">
    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-indigo font-bold px-4 py-2 rounded-t text-lg text-white">
        Pour en savoir plus
      </h2>
      <div class="bg-indigo-lightest border border-t-0 border-indigo-light px-4 py-3 rounded-b text-indigo-dark">
        <h3 class="font-medium mb-1 text-base text-normal">
          Assemblée nationale
        </h3>

        <ul class="list-reset">
          <li><a href="{documentAssembleeUrl}" target="_blank">{document.denominationStructurelle} : {document.titres.titrePrincipalCourt}</a></li>
          <li><a href="{pdfDocumentAssembleeUrl}" target="_blank">version PDF</a></li>
          <li><a href="{rawDocumentAssembleeUrl}" target="_blank">version brute</a></li>
        </ul>
      </div>
    </div>

    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-teal font-bold px-4 py-2 rounded-t text-lg text-white">
        Les coulisses techniques
      </h2>
      <div class="bg-teal-lightest border border-t-0 border-teal-light px-4 py-3 rounded-b text-teal-dark">
        <ul class="list-reset">
          <li><button class="button-link" on:click="fire('openNewIssueModal')" title="Ouvre un formulaire de saisie d'une remarque sur cette page." type="button">Signaler un problème ou suggérer une amélioration</button></li>
          <li><a href="/documents/assemblee/{document.uid}/api" target="_blank" title="Voir les appels à l'API effectués pour générer cette page.">Appels à l'API</a></li>
          <li><a href="https://framagit.org/tricoteuses/tricoteuses-ui/blob/master/src/routes/documents/assemblee/[document]/index.html" target="_blank" title="Voir le code source de la page dans la forge du logiciel.">Code source de cette page</a></li>
        </ul>
      </div>
    </div>
  </div>
</aside>

<script>
  import resolveUrl from "url-resolve"

  import config from "../../../../config"
  import { newGraphqlAgent } from "../../../../model/assemblee/document"
  import { urlFromDocument } from "../../../../model/assemblee/helpers"

  const headingPrefixRegExpByLevel = {
    1: /^Tome /i,
    2: /^Partie /i,
    3: /^Livre /i,
    4: /^Titre /i,
    5: /^Chapitre /i,
    6: /^Section /i,
    7: /^Sous-section /i,
    8: /^Paragraphe /i,
    9: /^Article /i,
  }

  export default {
    data() {
      return {
        legislationToAmend: null,
        locationHref: null,
      }
    },
    helpers: {
      config,
      resolveUrl,
      subdivisionLevelToClass(level) {
        switch(level) {
          case 1:
            // Tome
            return "text-5xl"
          case 2:
            // Partie
            return "text-4xl"
          case 3:
            // Livre
            return "text-4xl"
          case 4:
            // Titre
            return "text-4xl"
          case 5:
            // Chapitre
            return "text-3xl"
          case 6:
            // Section
            return "text-2xl"
          case 7:
            // Sous-section
            return "text-xl"
          case 8:
            // Paragraphe
            return "text-lg"
          case 9:
            // Article
            return "italic text-xl"
          default:
            return "text-lg"
        }
      },
    },
    methods: {
      async prepareToAmend() {
        const { subdivisions } = this.get()
        // Generate Markdown text.
        const lines = []
        for (let subdivision of subdivisions) {
          let header = subdivision.text.headers[0]
          const headingPrefixRegExp = headingPrefixRegExpByLevel[subdivision.level]
          if (!headingPrefixRegExp.test(header)) {
            header = `[NIVEAU ${subdivision.level}] ${header}`
          }
          lines.push("")
          lines.push(`${"#".repeat(subdivision.relativeLevel)} ${header}`)
          for (let header of subdivision.text.headers.slice(1)) {
            lines.push("")
            lines.push(`${"#".repeat(subdivision.relativeLevel)} ${header}`)
          }
          for (let alinea of subdivision.text.alineas) {
            lines.push("")
            lines.push(alinea)
          }
        }
        lines.shift()  // Remove first blank line.
        this.set({
          legislationToAmend: lines.join("\n") + "\n",
          locationHref: window.location.href,  // eslint-disable-line no-undef
        })
        return true
      },
    },
    async preload({ params /* , query */ }) {
      const agent = newGraphqlAgent(params.document)
      const document = await agent.retrieveData(this.fetch)
      if (document === null) {
        return this.error(404, `Document "${params.document}" non trouvé`)
      }

      const rawDocumentAssembleeUrl = urlFromDocument(document, "raw-html")
      const texteUrl = "/texte_assemblee"
      let response = await this.fetch(texteUrl, {
        body: JSON.stringify({
          url: rawDocumentAssembleeUrl,
        }, null, 2),
        credentials: "same-origin",
        headers: {
          "Content-Type": "application/json; charset=utf-8",
        },
        method: "POST",
      })
      let result =
        response.ok || response.status === 400
          ? await response.json()
          : { error: { code: response.status, message: response.statusText, text: await response.text() } }
      if (result.error) {
        console.log(`An error occured while calling ${texteUrl}:`, result)
        return this.error(
          result.error.code,
          `Une erreur s'est produite lors de la récupération du document "${params.document}"" sur "${
            rawDocumentAssembleeUrl}".`,
        )
      }
      const { subdivisions } = result

      return {
        document,
        documentAssembleeUrl: urlFromDocument(document, "html"),
        pdfDocumentAssembleeUrl: urlFromDocument(document, "pdf"),
        rawDocumentAssembleeUrl,
        subdivisions,
      }
    },
  }
</script>