<svelte:head>
  <title>API | {params.annee} {params.numero} | Sénat | Discussions | {config.title}</title>
</svelte:head>

<DataQueries {agent}/>

<script>
  import config from "../../../../../config"
  import { newGraphqlAgent } from "./_requests"

  export default {
    components: {
      DataQueries: "../../../../../components/DataQueries.html",
    },
    helpers: {
      config,
    },
    async preload({ params /* , query */ }) {
      return {
        agent: newGraphqlAgent(parseInt(params.annee), params.numero),
      }
    },
  }
</script>