<svelte:head>
  <title>Amendements | {params.annee} {params.numero} | Sénat | Documents | {config.title}</title>
</svelte:head>

<article>
  <header class="mx-2 my-4">
    <h1>
      Amendements
    </h1>
    <h2 class="font-medium italic mt-1 text-grey-darker"><b>{discussion.nat.lib}</b> {discussion.inl}
    </h2>
  </header>

  {#each discussion.subs.sort((sub1, sub2) => sub1.posder - sub2.posder) as sub (`sub_${sub.id}`)}
    <section class="bg-grey-lighter p-4">
      <h3 class="{subTypidToClass(sub.typid)} text-center">
        {sub.lib}
      </h3>
      {#each
        discussion.amds
          .filter(amd => amd.subid === sub.id)
          .sort((amd1, amd2) => amd1.ord + amd1.subpos - (amd2.ord + amd2.subpos))
        as amd (`amd_${amd.id}`)
      }
        <article class="bg-white border container mx-auto my-4 p-4 shadow">
          <h3>
            <a href="/discussions/senat/{discussion.sesins.ann}/{discussion.num}/amendements/{amd.num}" title="Détails de l'amendement">
              {
                amd.typ === "A"
                  ? "Amendement"
                  : amd.typ === "M"
                    ? "Motion"
                    : amd.typ === "S"
                      ? "Sous-amendement"
                      : `Amendement de type inconnu "${amd.typ}"`
              }
              {amd.num}{amd.nivrec ? ` rect.${amd.nivrec.lib ? " " + amd.nivrec.lib : ""}` : ""}
            </a>
            <span class="bg-{colorFromIrrSor(amd.irr, amd.sor)} rounded text-xs text-white">{amd.irr ? "Irrecevable" : amd.sor.lib}</span>
          </h3>
          {#if amd.obs}
            <div class="italic py-2 text-sm">
              <b>NB</b> : {amd.obs}
            </div>
          {/if}
          <ul class="list-reset text-right">
            <li>
              {#if amd.accgu}
                Amendement déposé avec l'accord du gouvernement
              {/if}
            </li>
            {#if amd.irr}
              <!-- Motif de retrait ou d'irrecevabilité -->
              <li>
                Jugé irrecevable par {amd.irr.par} en raison {amd.irr.art}{amd.irr.lilmin}
              </li>
            {/if}
            {#if amd.avc}
              <li>
                Avis de la commission : {amd.avc.lib}
              </li>
            {/if}
            {#if amd.avg}
              <li>
                Avis du gouvernement : {amd.avg.lib}
              </li>
            {/if}
          </ul>
          {#if amd.dis}
            <section class="w-full">
              <h4 class="bg-blue cursor-pointer font-bold inline-block mt-5 px-4 py-1 rounded-br-lg rounded-tl-lg text-lg text-white" on:click="toggleDispositif(amd.num)">
                {#if amd.subpos === 0}
                  {sub.lib || sub.lic}
                {:else}
                  Article additionnel après
                  {uncapitalizeFirstLetter(sub.lib || sub.lic)}
                {/if}
                {#if closedDispositifs[amd.num]}
                  <i class="fas fa-chevron-circle-down"></i>
                {:else}
                  <i class="fas fa-chevron-circle-up"></i>
                {/if}
              </h4>
              {#if !closedDispositifs[amd.num]}
                <div class="border-l-8 border-t-0 border-blue leading-normal px-2 py-3">
                  {@html amd.dis}
                </div>
              {/if}
            </section>
          {/if}
          {#if amd.obj}
            <section class="w-full">
              <h4 class="bg-grey-dark cursor-pointer font-bold inline-block mt-5 px-4 py-1 rounded-br-lg rounded-tl-lg text-lg text-white" on:click="toggleObjet(amd.num)">
                Objet
                {#if closedObjets[amd.num]}
                  <i class="fas fa-chevron-circle-down"></i>
                {:else}
                  <i class="fas fa-chevron-circle-up"></i>
                {/if}
              </h4>
              {#if !closedObjets[amd.num]}
                <div class="bg-grey-lighter border-l-8 border-t-0 border-grey-dark leading-normal px-2 py-3">
                  {@html amd.obj}
                </div>
              {/if}
            </section>
          {/if}
          {#if subdivisions && amd.dis && diffs[amd.num] !== null}
            <section class="w-full">
              <h4 class="bg-teal cursor-pointer font-bold inline-block mt-5 px-4 py-1 rounded-br-lg rounded-tl-lg text-lg text-white" on:click="toggleDiff(amd.num)">
                Effet
                {#if openDiffs[amd.num]}
                  <i class="fas fa-chevron-circle-up"></i>
                {:else}
                  <i class="fas fa-chevron-circle-down"></i>
                {/if}
              </h4>
              {#if openDiffs[amd.num]}
                <div class="border-l-8 border-t-0 border-teal leading-normal px-2 py-3">
                  {#if typeof diffs[amd.num] === "string"}
                    {diffs[amd.num]}
                  {:elseif diffs[amd.num]}
                    {#if diffs[amd.num].data
                      && diffs[amd.num].data["anonymous law"]
                      && diffs[amd.num].data["anonymous law"]["anonymous article"]
                      && diffs[amd.num].data["anonymous law"]["anonymous article"].text
                    }
                      {#if diffs[amd.num].data.warnings}
                        <div class="mx-auto my-4" role="alert">
                          <div class="bg-orange font-bold rounded-t px-4 py-2 text-white">
                            <i class="fas fa-exclamation-triangle"></i> Attention !
                          </div>
                          <div class="bg-orange-lightest border border-orange-light border-t-0 px-4 py-3 rounded-b text-orange-dark">
                            <p>
                              Une erreur s'est produite lors du calcul de l'effet de l'amendement. Le résultat ci-dessous est <b>erroné</b>.
                            </p>
                          </div>
                        </div>
                      {/if}
                      <h5>
                        {#if diffs[amd.num].data["anonymous law"]["anonymous article"].type === "added"}
                          Article additionnel
                        {:elseif diffs[amd.num].data["anonymous law"]["anonymous article"].type === "deleted"}
                          Article supprimé
                        {:else}
                          Modification
                        {/if}
                      </h5>
                      <p>{@html
                        diffs[amd.num].data["anonymous law"]["anonymous article"].text
                          .trim()
                          .replace(/\n\n/g, "</p><p>")
                          .replace(/<del amendement="[a-z0-9-]+"><\/del>\n<del amendement="[a-z0-9-]+"><\/del>\n<del /g, "</p><p><del ")
                          .replace(/<\/del>\n<del amendement="[a-z0-9-]+"><\/del>\n<del amendement="[a-z0-9-]+"><\/del>/g, "</del></p><p>")
                          .replace(/<ins amendement="[a-z0-9-]+"><\/ins>\n<ins amendement="[a-z0-9-]+"><\/ins>\n<ins /g, "</p><p><ins ")
                          .replace(/<\/ins>\n<ins amendement="[a-z0-9-]+"><\/ins>\n<ins amendement="[a-z0-9-]+"><\/ins>/g, "</ins></p><p>")
                          .replace(/\n/g, "<br>")
                      }</p>
                    {:else}
                      <p>Le calcul de l'effet de l'amendement n'est pas possible :</p>
                      <pre class="whitespace-pre-wrap">{JSON.stringify(diffs[amd.num], null, 2)}</pre>
                    {/if}
                  {/if}
                  <p class="bg-teal-lightest italic mt-2 text-center text-teal-darker text-sm">
                    Calcul des effets de l'amendement réalisé par <a href="https://archeo-lex.fr/durafront/" target="_blank">Durafront</a>
                  </p>
                </div>
              {/if}
            </section>
          {/if}
          <section class="w-full">
            <h4 class="bg-indigo cursor-pointer font-bold inline-block mt-5 px-4 py-1 rounded-br-lg rounded-tl-lg text-lg text-white" on:click="toggleAuteur(amd.num)">
              Présenté par
              {#if closedAuteurs[amd.num]}
                <i class="fas fa-chevron-circle-down"></i>
              {:else}
                <i class="fas fa-chevron-circle-up"></i>
              {/if}
            </h4>
            {#if !closedAuteurs[amd.num]}
              <div class="border-l-8 border-t-0 border-indigo leading-normal px-2 py-3">
                <div>
                  {#if amd.noment.ent.__typename === "Cab"}
                    <div class="inline-flex items-center">
                      <img alt="Logo du gouvernement" src="/logo_gouvernement.png" title="Le Gouvernement">
                      <div class="font-semibold italic ml-4">Le Gouvernement</div>
                    </div>
                  {:elseif amd.noment.ent.__typename === "ComAmeli"}
                    <div class="inline-flex items-center">
                      <div class="font-semibold italic">{capitalizeFirstLetter(amd.noment.ent.lil)}</div>
                    </div>
                  {:elseif amd.noment.ent.__typename === "GrpPolAmeli"}
                    <div class="inline-flex items-center">
                      <div class="font-semibold italic">
                        {capitalizeFirstLetter(amd.noment.ent.lilcou)}
                        {amd.libgrp || ""}
                      </div>
                    </div>
                  {:elseif amd.noment.ent.__typename === "Gvt"}
                    <div class="inline-flex items-center">
                      <div class="leading-normal">
                        <div class="font-semibold italic">
                          <!-- {amd.noment.ent.qua} -->
                          {amd.noment.ent.pre}
                          {amd.noment.ent.nom}
                        </div>
                        <div>
                          {amd.noment.ent.tit}
                        </div>
                      </div>
                    </div>
                  {:elseif amd.noment.ent.__typename === "SenAmeli"}
                    <div class="inline-flex items-center">
                      <img
                        alt="Portrait de {amd.noment.ent.qua} {amd.noment.ent.prenomuse} {amd.noment.ent.nomuse}"
                        class="h-32"
                        src={resolveUrl(config.senatApiUrl, `/assets/${amd.noment.ent.photo.chemin}`)}
                        title="{amd.noment.ent.prenomuse} {amd.noment.ent.nomuse}"
                      >
                      <div class="leading-normal ml-4">
                        <div class="font-semibold italic">
                          <!-- {amd.noment.ent.qua} -->
                          {amd.noment.ent.prenomuse}
                          {amd.noment.ent.nomuse}
                          {@html roleSenateur(saiByRapporteurId, amd.noment.ent)}
                        </div>
                        {#if amd.noment.ent.grp}
                          <div>
                            {amd.noment.ent.grp.libcou}
                          </div>
                        {/if}
                        {#if amd.noment.ent.com}
                          <div>
                            {amd.noment.ent.com.lil}
                          </div>
                        {/if}
                        {#if amd.noment.ent.comspc}
                          <div>
                            {amd.noment.ent.comspc.lil}
                          </div>
                        {/if}
                      </div>
                    </div>
                  {:else}
                    <div class="font-semibold italic">Entité de type inconnu :</div>
                    <pre class="whitespace-pre-wrap">{JSON.stringify(amd.noment, null, 2)}</pre>
                  {/if}
                </div>
                {#if amd.amdsens.length > 0}
                  <div class="mt-4">
                    <h4 class="mb-2">
                      {amd.amdsens.length}
                      {amd.amdsens.length > 1 ? "cosignataires" : "signataire"}
                    </h4>
                    <p>
                      {#each amd.amdsens as amdsen, amdsenIndex}
                        <span>{amdsen.prenomuse} {amdsen.nomuse}{@html roleSenateur(saiByRapporteurId, amdsen.sen)}</span>{
                          amdsenIndex < amd.amdsens.length - 2
                            ? ", "
                            : amdsenIndex < amd.amdsens.length - 1
                              ? " et "
                              : ""
                        }
                      {/each}
                    </p>
                  </div>
                {/if}
              </div>
            {/if}
          </section>
        </article>
      {/each}
    </section>
  {/each}
</article>

<aside class="my-4 px-2 py-4 text-sm" role="complementary">
  <div class="flex flex-wrap -mx-2 -my-4">
    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-indigo font-bold px-4 py-2 rounded-t text-lg text-white">
        Pour en savoir plus
      </h2>
      <div class="bg-indigo-lightest border border-t-0 border-indigo-light px-4 py-3 rounded-b text-indigo-dark">
        <h3 class="font-medium mb-1 text-base text-normal">
          Sénat
        </h3>

        <ul class="list-reset">
          <li><a href="https://www.senat.fr/leg/{discussion.texte.texurl}" target="_blank">{discussion.nat.lib}</a></li>
          {#if discussion.txttyp === "C"}
            <li><a href="https://www.senat.fr/amendements/commissions/{discussion.sesins.lil}/{discussion.num}/accueil.html" target="_blank">Amendements</a></li>
          {:else}
            <li><a href="https://www.senat.fr/amendements/{discussion.sesins.lil}/{discussion.num}/accueil.html" target="_blank">Amendements</a></li>
          {/if}
        </ul>

        <!-- <h3 class="font-medium mb-1 mt-4 text-base text-normal">
          La fabrique de la loi
        </h3>

        <ul class="list-reset">
          <li><a href="https://www.lafabriquedelaloi.fr/articles.html?loi={discussion.signet}" target="_blank">Étapes et versions {discussion.typloi.typloide} {discussion.typloi.typloiden}</a></li>
        </ul> -->
      </div>
    </div>

    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-teal font-bold px-4 py-2 rounded-t text-lg text-white">
        Les coulisses techniques
      </h2>
      <div class="bg-teal-lightest border border-t-0 border-teal-light px-4 py-3 rounded-b text-teal-dark">
        <ul class="list-reset">
          <li><a href="https://data.senat.fr/aide/notice-explicative-ameli/" target="_blank">Notice explicative de la base Ameli du Sénat</a></li>
          <li><button class="button-link" on:click="fire('openNewIssueModal')" title="Ouvre un formulaire de saisie d'une remarque sur cette page." type="button">Signaler un problème ou suggérer une amélioration</button></li>
          <li><a href="/discussions/senat/{discussion.sesins.ann}/{discussion.num}/api" target="_blank" title="Voir les appels à l'API effectués pour générer cette page.">Appels à l'API</a></li>
          <li><a href="https://framagit.org/tricoteuses/tricoteuses-ui/blob/master/src/routes/discussions/senat/[annee]/[numero]/index.html" target="_blank" title="Voir le code source de la page dans la forge du logiciel.">Code source de cette page</a></li>
        </ul>
      </div>
    </div>
  </div>
</aside>

<script>
  import fetch from "cross-fetch"
  import resolveUrl from "url-resolve"

  import config from "../../../../../config"
  import { newGraphqlAgent } from "./_requests"
  import { capitalizeFirstLetter, uncapitalizeFirstLetter } from "../../../../../strings"

  export default {
    computed: {
      /// Commissions saisies by ID of rapporteur
      saiByRapporteurId({ discussion }) {
        const saiByRapporteurId = {}
        for (let sai of discussion.sais) {
          for (let saisen of sai.saisens) {
            saiByRapporteurId[saisen.senid] = sai
          }
        }
        return saiByRapporteurId
      }
    },
    data() {
      return {
        closedAuteurs: {},
        closedDispositifs: {},
        closedObjets: {},
        diffs: {},
        openDiffs: {},
      }
    },
    helpers: {
      capitalizeFirstLetter,
      config,
      colorFromIrrSor(irr, sor) {
        return irr !== null
          ? "red"
          : sor === null
            ? "grey-dark"
            : sor.cod.startsWith("A")
              ? "green"
              : sor.cod.startsWith("N")
                ? "orange"
                : sor.cod.startsWith("RJ")
                  ? "red"
                : sor.cod.startsWith("R")
                  ? "orange"
                : sor.cod.startsWith("S")
                  ? "blue"
                  : "yellow"
      },
      roleSenateur(saiByRapporteurId, sen) {
        const sai = saiByRapporteurId[sen.entid]
        if (sai === undefined) {
          return ""
        }
        const role = sen.senfem === "O" ? "rapporteure" : "rapporteur"
        const typeSaisine = sai.saityp === "A"
          ? "pour avis"
          : sai.saityp === "F"
            ? "au fond"
            : sai.saityp // Unknown type
        return ` <i class="text-sm">(${role} ${typeSaisine})</i>`
      },
      resolveUrl,
      subTypidToClass(typid) {
        switch(typid) {
          case 1:
            // Intitulé du texte
            return "text-5xl"
          case 2:
            // Intitulé de titre
            return "text-4xl"
          case 3:
            // Intitulé de chapitre
            return "text-3xl"
          case 4:
            // Article du texte
          case 5:
            // Article de Code
          case 6:
            // Article de Loi
            return "italic text-xl"
          case 7:
            // Annexe
            return "text-3xl"
          case 8:
            // Section
            return "text-2xl"
          case 9:
            // Sous-section
            return "text-xl"
          default:
            return "text-lg"
        }
      },
      uncapitalizeFirstLetter,
    },
    methods: {
      toggleAuteur(amdNum) {
        let { closedAuteurs } = this.get()
        closedAuteurs = {
          ...closedAuteurs,
          [amdNum]: !closedAuteurs[amdNum],
        }
        this.set({ closedAuteurs })
      },
      async toggleDiff(amdNum) {
        let { diffs, discussion, openDiffs, subdivisions } = this.get()
        const openDiff = !openDiffs[amdNum]
        openDiffs = {
          ...openDiffs,
          [amdNum]: openDiff,
        }
        this.set({ openDiffs })
        if (openDiff) {
          let diff = diffs[amdNum]
          if (diff === undefined) {
            const amd = discussion.amds.filter(amd => amd.num === amdNum)[0]
            const sub = discussion.subs.filter(sub => sub.id === amd.subid)[0]
            const subdivision = subdivisions[sub.sig]
            if (subdivision === undefined) {
              diffs = {
                ...diffs,
                [amdNum]: null,
              }
              this.set({ diffs })
            } else {
              diffs = {
                ...diffs,
                [amdNum]: "Calcul de l'effet de l'amendement en cours…",
              }
              this.set({ diffs })

              // eslint-disable-next-line no-undef
              const amdDisParser = new DOMParser()
              const amdDisDoc = amdDisParser.parseFromString(amd.dis, "text/html")
              const amdDisText = amdDisDoc.body.textContent

              const response = await fetch("durafront", {
                body: JSON.stringify({
                  texteAmendement: amdDisText,
                  texteArticle: subdivision.text.alineas.length === 0
                    ? subdivision.text.headers.join("\n")
                    : subdivision.text.alineas.join("\n"),
                }, null, 2),
                credentials: "same-origin",
                headers: {
                  "Content-Type": "application/json; charset=utf-8",
                },
                method: "POST",
              })
              const result =
                response.ok
                  ? await response.json()
                  : { error: { code: response.status, message: response.statusText } }
              if (result.error) {
                console.log("Error while calling Durafront", result.error.code, result.error.message)
              }
              diffs = {
                ...diffs,
                [amdNum]: result,
              }
              this.set({ diffs })
            }
          }
        }
      },
      toggleDispositif(amdNum) {
        let { closedDispositifs } = this.get()
        closedDispositifs = {
          ...closedDispositifs,
          [amdNum]: !closedDispositifs[amdNum],
        }
        this.set({ closedDispositifs })
      },
      toggleObjet(amdNum) {
        let { closedObjets } = this.get()
        closedObjets = {
          ...closedObjets,
          [amdNum]: !closedObjets[amdNum],
        }
        this.set({ closedObjets })
      },
    },
    async preload({ params /* , query */ }) {
      const { discussionAgent } = newGraphqlAgent(parseInt(params.annee), params.numero).agentBySymbol
      await discussionAgent.fetchGraphqlData()
      const discussion = discussionAgent
        .graphqlData
        .data
        .discussion
      if (discussion === null) {
        return this.error(404, `Document "${params.numero}" non trouvé`)
      }

      const texteUrl = "/texte_senat"
      let response = await this.fetch(texteUrl, {
        body: JSON.stringify({
          ids: discussion.subs
            .map(sub => sub.sig)
            .filter(id => id !== null),
          url: discussion.texte.texurl,
        }, null, 2),
        credentials: "same-origin",
        headers: {
          "Content-Type": "application/json; charset=utf-8",
        },
        method: "POST",
      })
      let result =
        response.ok || response.status === 400
          ? await response.json()
          : { error: { code: response.status, message: response.statusText, text: await response.text() } }
      if (result.error) {
        console.log(`An error occured while calling ${texteUrl}:`, result)
        return this.error(
          result.error.code,
          `Une erreur s'est produite lors de la récupération du document "${params.numero}"" sur "${
            discussion.texte.texurl}".`,
        )
      }
      const { subdivisions } = result

      return {
        discussion,
        subdivisions,
      }
    },
  }
</script>