{#if actePath}
  <ol class="flex-wrap inline-flex list-reset text-teal-dark text-xs">
    <li>
      <i>{title}</i> : Assemblée
    </li>
    {#each actePath as acte (acte.codeActe)}
      <li><span class="mx-2">/</span></li>
      <li>
        {acte.libelleActe.libelleCourt || acte.libelleActe.nomCanonique}
        {#if acte.dateActe}
          <b>le {displayDateFromString(acte.dateActe)}</b>
        {/if}
        {#if acte.casSaisine}
          <span class="bg-{colorFromCodierLibelle(acte.casSaisine.libelle)} rounded text-xs text-white">{
            acte.casSaisine.libelle
          }</span>
        {/if}
        {#if acte.decision}
          <span class="bg-{colorFromCodierLibelle(acte.decision.libelle)} rounded text-xs text-white">{
            acte.decision.libelle
          }</span>
        {/if}
        {#if acte.statutAdoption}
          <span class="bg-{colorFromCodierLibelle(acte.statutAdoption.libelle)} rounded text-xs text-white">{
            acte.statutAdoption.libelle
          }</span>
        {/if}
        {#if acte.statutConclusion}
          <span class="bg-{colorFromCodierLibelle(acte.statutConclusion.libelle)} rounded text-xs text-white">{
            acte.statutConclusion.libelle
          }</span>
        {/if}
        {#if acte.typeDeclaration}
          <span class="bg-{colorFromCodierLibelle(acte.typeDeclaration.libelle)} rounded text-xs text-white">{
            acte.typeDeclaration.libelle
          }</span>
        {/if}
        {#if acte.typeMotion}
          <span class="bg-{colorFromCodierLibelle(acte.typeMotion.libelle)} rounded text-xs text-white">{
            acte.typeMotion.libelle
          }</span>
        {/if}
        {#if acte.typeMotionCensure}
          <span class="bg-{colorFromCodierLibelle(acte.typeMotionCensure.libelle)} rounded text-xs text-white">{
            acte.typeMotionCensure.libelle
          }</span>
        {/if}
      </li>
    {/each}
  </ol>
{/if}

<script>
  import { displayDateFromString } from "../dates"
  import { colorFromCodierLibelle } from "../model/assemblee/helpers"

  export default {
    helpers: {
      colorFromCodierLibelle,
      displayDateFromString,
    },
  }
</script>