{#if agent.graphqlAgent}
  <svelte:self agent={agent.graphqlAgent} {symbol} togglable={allowToogle}/>
{:elseif agent.agentBySymbol}
  {#each Object.entries(agent.agentBySymbol) as [childSymbol, childAgent]}
    <svelte:self agent={childAgent} symbol={childSymbol} togglable={allowToogle}/>
  {/each}
{:elseif allowToogle}
  <div class="my-4 px-2 w-full">
    <h2 class="bg-teal cursor-pointer font-bold px-4 py-2 {open[symbol] ? "rounded-t" : "rounded"} text-lg text-white" on:click="toggle(symbol)">
      Requête GraphQL : {agent.title || symbol}
      {#if open[symbol]}
        <i class="fas fa-chevron-circle-up"></i>
      {:else}
        <i class="fas fa-chevron-circle-down"></i>
      {/if}
    </h2>
    {#if open[symbol]}
      <div class="bg-teal-lightest border border-t-0 border-teal-light px-4 py-3 rounded-b text-teal-darkest">
        <GraphqlDataQuery {agent} source={agent.useGraphqlCache ? "staticGraphql" : "graphql"}/>
      </div>
    {/if}
  </div>
{:else}
  <div class="my-4 px-2 w-full">
    <h2 class="bg-teal cursor-pointer font-bold px-4 py-2 rounded-t text-lg text-white">
      Requête GraphQL : {agent.title || symbol}
    </h2>
    <div class="bg-teal-lightest border border-t-0 border-teal-light px-4 py-3 rounded-b text-teal-darkest">
      <GraphqlDataQuery {agent} source={agent.useGraphqlCache ? "staticGraphql" : "graphql"}/>
    </div>
  </div>
{/if}
{#if agent.viewData !== undefined}
  <div class="my-4 px-2 w-full">
    <h2 class="bg-teal cursor-pointer font-bold px-4 py-2 {open.viewData ? "rounded-t" : "rounded"} text-lg text-white" on:click="toggle('viewData')">
      Requête des données de la page
      {#if open.viewData}
        <i class="fas fa-chevron-circle-up"></i>
      {:else}
        <i class="fas fa-chevron-circle-down"></i>
      {/if}
    </h2>
    {#if open.viewData}
      <div class="bg-teal-lightest border border-t-0 border-teal-light px-4 py-3 rounded-b text-teal-darkest">
        <ViewDataQuery {agent} source={agent.useViewCache ? "staticView" : agent.useGraphqlCache ? "staticGraphql" : "graphql"}/>
      </div>
    {/if}
  </div>
{/if}

<script>
  export default {
    components: {
      GraphqlDataQuery: "../components/GraphqlDataQuery.html",
      ViewDataQuery: "../components/ViewDataQuery.html",
    },
    computed: {
      allowToogle({ agent, togglable }) {
        return togglable
          || agent.viewData !== undefined
          || agent.agentBySymbol && Object.keys(agent.agentBySymbol).length > 1
      },
    },
    data() {
      return {
        open: {},
        symbol: "défaut",
        togglable: false,
      }
    },
    methods: {
      toggle(symbol) {
        let { open } = this.get()
        open = {
          ...open,
          [symbol]: !open[symbol],
        }
        this.set({ open })
      },
    },
  }
</script>