<div class="my-4 px-2 py-4 text-sm">
  <div class="flex flex-wrap -mx-2 -my-4">
    <div class="my-4 px-2 w-full md:w-1/2">
      {#if agent.useGraphqlCache}
        <h3 class="font-semibold mb-1 text-lg text-normal">
          URL de la cache GraphQL
        </h3>
        <div class="bg-white">
          <a href="/{agent.staticGraphqlDataPath}" target="_blank" title="Lien vers la cache des données GraphQL">/{agent.staticGraphqlDataPath}</a>
        </div>
      {/if}
      <h3 class="font-semibold mb-1 text-lg text-normal">
        URL de l'API GraphQL
      </h3>
      <div class="bg-white">
        <a href="{agent.apiUrl}" target="_blank" title="Tester l'API GraphQL directement sur le serveur d'API">{agent.apiUrl}</a>
      </div>

      <h3 class="font-semibold mb-1 mt-4 text-lg text-normal">
        Variables
      </h3>
      <pre class="bg-white whitespace-pre-wrap">{JSON.stringify(agent.variables, null, 2)}</pre>

      <h3 class="font-semibold mb-1 mt-4 text-lg text-normal">
        Requête
      </h3>
      <pre class="bg-white whitespace-pre-wrap">{agent.queryText}</pre>
    </div>

    <div class="my-4 px-2 w-full md:w-1/2">
      <form on:submit="submit(event)">
        <h3 class="flex font-semibold items-baseline justify-between mb-1 text-lg text-normal">
          Réponse
          <button class="bg-teal hover:bg-teal-dark font-bold py-2 px-4 rounded text-white" type="submit">
            Exécuter
          </button>
        </h3>
        <fieldset class="my-1">
          <span>Afficher :</span>
          <label class="mx-1">
            <input bind:group="output" name="output" required type="radio" value="graphql">
            GraphQL brut
          </label>
          <label class="mx-1">
            <input bind:group="output" name="output" required type="radio" value="improvedGraphql">
            GraphQL amélioré
          </label>
        </fieldset>
        <fieldset class="my-1">
          <span>Provenance :</span>
          {#if agent.useGraphqlCache}
            <label class="mx-1">
              <input bind:group="source" name="source" required type="radio" value="staticGraphql">
              Cache GraphQL
            </label>
          {/if}
          <label class="mx-1">
            <input bind:group="source" name="source" required type="radio" value="graphql">
            Requête GraphQL
          </label>
        </fieldset>
      </form>
      {#if running}
        <div class="h-16 mx-auto my-4 spinner w-16">
        </div>
      {:else}
        {#if error !== null}
          <p class="bg-orange-lightest border border-orange-light p-2 rounded text-orange-dark" role="alert">
            {error}
          </p>
        {/if}
        {#if data !== null}
          <pre class="bg-white whitespace-pre-wrap">{JSON.stringify(data, null, 2)}</pre>
        {/if}
      {/if}
    </div>
  </div>
</div>

<script>
  export default {
    data() {
      return {
        data: null,
        error: null,
        running: false,
        output: "improvedGraphql",
      }
    },
    methods: {
      async submit(event) {
        event.preventDefault()

        const { agent, output, source } = this.get()
        let data = null
        let error = null
        switch (output) {
          case "graphql":
            switch (source) {
              case "staticGraphql":
                this.set({ running: true })
                // eslint-disable-next-line no-undef
                data = await agent.fetchStaticGraphqlData(fetch)
                break
              case "graphql":
                this.set({ running: true })
                data = await agent.fetchGraphqlData()
                break
              default:
                error = "Veuillez choisir une provenance pour les données GraphQL."
            }
            break
          case "improvedGraphql":
            switch (source) {
              case "staticGraphql":
                this.set({ running: true })
                // eslint-disable-next-line no-undef
                await agent.fetchStaticGraphqlData(fetch)
                data = agent.improveGraphqlData()
                break
              case "graphql":
                this.set({ running: true })
                await agent.fetchGraphqlData()
                data = agent.improveGraphqlData()
                break
              default:
                error = "Veuillez choisir une provenance pour les données GraphQL."
            }
            break
          default:
            error = "Veuillez choisir le type de données à afficher."
        }
        this.set({ agent, data, error, running: false })
      },
    },
  }
</script>