<section class="container mx-auto mx-2">
  <form on:submit="search(event)">
    <div class="flex flex-wrap items-stretch w-full">
      <div class="flex -mr-px">
        <span class="flex items-center leading-normal bg-teal-lightest rounded rounded-r-none border border-r-0 border-teal-light px-3 whitespace-no-wrap text-teal-dark text-sm"><i class="fas fa-search"></i></span>
      </div>
      <input class="border border-teal-light focus:border-blue flex-1 flex-auto flex-grow flex-shrink h-10 leading-normal w-px focus:shadow px-3 relative rounded rounded-l-none" placeholder="informatique et libertés…" type="text" bind:value="term">
      <button class="bg-teal hover:bg-teal-dark font-bold ml-2 py-2 px-4 rounded text-white" type="submit">
        Rechercher
      </button>
    </div>
  </form>
</section>

<script>
  import { goto } from "../../__sapper__/client"
  import { buildSearchUrl } from "../strings"

  export default {
    data() {
      return {
        searchPath: "recherche",
        term: "",
      }
    },
    methods: {
      search(event) {
        event.preventDefault()

        const limit = 10
        const { searchPath, term } = this.get()

        goto(buildSearchUrl(searchPath, { limit, offset: 0, term }))
      },
    },
  }
</script>