{#if step.__typename === "AmendementsCommision"}
  Dépôt des
  <a href="/discussions/senat/{step.lecassamesescom}/{step.lecassamecom}">amendements</a>
  en vue de l'élaboration du texte de la commission
  (délai limite : {displayTimeFromEpoch(step.lecassamecomdat)})
{:elseif step.__typename === "AmendementsSeance"}
  Dépôt des
  <a href="/discussions/senat/{step.lecassameses}/{step.lecassame}">amendements</a>
  sur le texte de la commission
  (délai limite : {displayTimeFromEpoch(step.lecassamedat)})
{:elseif step.__typename === "Aud"}
  {#if step.audurl}
    <a href="{resolveUrl("https://www.senat.fr/", step.audurl)}" target="_blank">{step.audtit}</a>
  {:else}
    {step.audtit}
  {/if}
{:elseif step.__typename === "DateSeance"}
  Séance publique
  {#if step.statut !== null}
    ({step.statut === "EVENT" ? "éventuellement" : step.statut})
  {/if}
  {#if step.debat !== null || step.scrs.length > 0}
    <ul>
      {#if step.debat !== null}
        <li>
          <a href="{resolveUrl("https://www.senat.fr/seances/", step.debat.deburl)}" target="_blank">Compte rendu intégral des débats</a>
        </li>
      {/if}
      {#each step.scrs as scr}
        <li>
          <a href="https://www.senat.fr/scrutin-public/{scr.sesann}/scr{scr.sesann}-{scr.scrnum}.html" target="_blank">Scrutin public n° {scr.scrnum}</a>
          {scr.scrint}
          {#if scr.scrpou > scr.scrcon}
            <span class="bg-green rounded text-xs text-white">adopté</span>
          {:elseif scr.scrpou === scr.scrcon}
            <span class="bg-orange rounded text-xs text-white">indécis</span>
          {:else}
            <span class="bg-red rounded text-xs text-white">rejeté</span>
          {/if}
        </li>
      {/each}
    </ul>
  {/if}
{:elseif step.__typename === "DecisionConseilConstitutionnel"}
  {#if step.deccocurl !== null}
    <a href={step.deccocurl} target="_blank">Décision n° {step.numDecision}</a>
  {:else}
    Décision n° {step.numDecision}
  {/if}
  {#if step.deccoc !== null}
    :
    {#if step.deccoc.deccoccod == "01"}
      <span class="bg-green rounded text-xs text-white">{step.deccoc.deccoclib}</span>
    {:elseif step.deccoc.deccoccod == "02"}
      <span class="bg-orange rounded text-xs text-white">{step.deccoc.deccoclib}</span>
    {:elseif step.deccoc.deccoccod == "03"}
      <span class="bg-red rounded text-xs text-white">{step.deccoc.deccoclib}</span>
    {:else}
      <span class="bg-yellow rounded text-xs text-black">{step.deccoc.deccoclib}</span>
    {/if}
  {/if}
{:elseif step.__typename === "EngagementProcedureAcceleree"}
  Engagement de la procédure accélérée
{:elseif step.__typename === "LecAssRap"}
  <a href="{resolveUrl("https://www.senat.fr/rap/", step.rap.rapurl)}" target="_blank">
    {step.rap.denrap.libdenrap}
    {#if lecass.ass.codass === "S"}
      n° {step.rap.rapnum} <small>({step.rap.sesann}-{step.rap.sesann + 1})</small>{
    :else}
      n° {step.rap.rapnum}{
    /if
    }{#if step.rap.numerobis !== null}
      {step.rap.numerobis}{
    /if
    }{#if step.rap.raptom !== null}
      tome {RomanNumber(step.rap.raptom).toString()}{
    /if}
  </a>
  {#if step.rap.ecrs.length > 0}
    de
    <SenatEcrs ecrs={step.rap.ecrs} trailingComma={false}/>
  {/if}
  {#if step.rap.docatts}
    <ul>
      {#each step.rap.docatts as docatt}
      <li><a href={resolveUrl("https://www.senat.fr/", docatt.docatturl)} target="_blank">{
        docatt.typattcod === "S" ? "Synthèse du rapport" : docatt.typatt.typattlib
      }</a></li>
      {/each}
    </ul>
  {/if}
{:elseif step.__typename === "OppositionProcedureAcceleree"}
  Opposition à la procédure accélérée
{:elseif step.__typename === "PromulgationLoi"}
  Promulgation de la loi n° {step.numero}
{:elseif step.__typename === "PublicationLoi"}
  Parution au
  <a href={step.urlJo} target="_blank">Journal officiel n° {step.loinumjo}</a>
  de la loi n° {step.numero} du {displayDateWithoutDayOfWeekFromEpoch(step.dateLoi)}
  {step.loititjo}
{:elseif step.__typename === "PublicationPremierCorrectifLoi"}
  Parution d'un correctif au
  <a href={step.urlJo2} target="_blank">Journal officiel n° {step.loinumjo2}</a>
{:elseif step.__typename === "PublicationSecondCorrectifLoi"}
  Parution d'un second correctif au
  <a href={step.urlJo3} target="_blank">Journal officiel n° {step.loinumjo3}</a>
{:elseif step.__typename === "RetraitProcedureAcceleree"}
  Retrait de la procédure accélérée
{:elseif step.__typename === "SaisineConseilConstitutionnel"}
  Saisine par {step.saisinePar}
{:elseif step.__typename === "Texte"}
  <a href="{resolveUrl("https://www.senat.fr/leg/", step.texurl)}" target="_blank">
    Texte n°
    {#if lecass.ass.codass === "S"}
      {step.texnum} <small>({step.sesann}-{step.sesann + 1})</small>{
    :else
      }{step.texnum}{
    /if
    }{#if step.numerobis !== null
      } {step.numerobis}{
    /if}
  </a>
  {#if step.ecrs.length > 0}
    de
    <SenatEcrs ecrs={step.ecrs} trailingComma={true}/>
  {/if}
  {step.oritxt === null
    ? "déposé"
    : step.oritxt.oritxtlib.endsWith(" (AN)")
      ? step.oritxt.oritxtlib.substring(0, step.oritxt.oritxtlib.length - " (AN)".length)
      : step.oritxt.oritxtlib
  }
  {#if step.oritxt !== null}
    {#if step.oritxt.oritxtado === "O"}
      <span class="bg-green rounded text-xs text-white">
        adopté
        {#if step.oritxt.oritxtmod === "O"}
          après modification
        {/if}
      </span>
    {:elseif step.oritxt.oritxtado === "N" && step.oritxt.oriordre !== "0"}
      <!-- Show "rejeté" only when oriordre != 0 (ie "initial", "déposé"). -->
      <span class="bg-red rounded text-xs text-white">rejeté</span>
    {/if}
  {/if}
{:else}
  <p>Step non traité :</p>
  <pre class="whitespace-pre-wrap">{JSON.stringify(step, null, 2)}</pre>
{/if}

<script>
  import RomanNumber from "roman-number"
  import resolveUrl from "url-resolve"

  import { displayDateWithoutDayOfWeekFromEpoch, displayTimeFromEpoch } from "../dates"

  export default {
    components: {
      SenatEcrs: "./SenatEcrs.html",
    },
    helpers: {
      displayDateWithoutDayOfWeekFromEpoch,
      displayTimeFromEpoch,
      resolveUrl,
      RomanNumber,
    }
  }
</script>