<div class="my-4 px-2 py-4 text-sm">
  {#if agent.useViewCache}
    <h3 class="font-semibold mb-1 text-lg text-normal">
      URL de la cache de la page
    </h3>
    <div class="bg-white">
      <a href="/{agent.staticViewDataPath}" target="_blank" title="Lien vers la cache des données de la page">/{agent.staticViewDataPath}</a>
    </div>
  {/if}
  <form on:submit="submit(event)">
    <h3 class="flex font-semibold items-baseline justify-between mb-1 text-lg text-normal">
      Réponse
      <button class="bg-teal hover:bg-teal-dark font-bold py-2 px-4 rounded text-white" type="submit">
        Exécuter
      </button>
    </h3>
    <fieldset class="my-1">
      <span>Provenance :</span>
      {#if agent.useViewCache}
        <label class="mx-1">
          <input bind:group="source" name="source" required type="radio" value="staticView">
          Cache de la page
        </label>
      {/if}
      {#if agent.useGraphqlCache}
        <label class="mx-1">
          <input bind:group="source" name="source" required type="radio" value="staticGraphql">
          Cache GraphQL
        </label>
      {/if}
      <label class="mx-1">
        <input bind:group="source" name="source" required type="radio" value="graphql">
        Requête GraphQL
      </label>
    </fieldset>
  </form>
  {#if running}
    <div class="h-16 mx-auto my-4 spinner w-16">
    </div>
  {:else}
    {#if error !== null}
      <p class="bg-orange-lightest border border-orange-light p-2 rounded text-orange-dark" role="alert">
        {error}
      </p>
    {/if}
    {#if data !== null}
      <pre class="bg-white whitespace-pre-wrap">{JSON.stringify(data, null, 2)}</pre>
    {/if}
  {/if}
</div>

<script>
  export default {
    data() {
      return {
        data: null,
        error: null,
        running: false,
      }
    },
    methods: {
      async submit(event) {
        event.preventDefault()

        const { agent, source } = this.get()
        let data = null
        let error = null
        let improvedData = null
        switch (source) {
          case "staticView":
            this.set({ running: true })
            // eslint-disable-next-line no-undef
            data = await agent.fetchStaticViewData(fetch)
            break
          case "staticGraphql":
            this.set({ running: true })
            // eslint-disable-next-line no-undef
            await agent.fetchStaticGraphqlData(fetch)
            improvedData = agent.improveGraphqlData()
            data = agent.generateViewData(improvedData)
            break
          case "graphql":
            this.set({ running: true })
            await agent.fetchGraphqlData()
            improvedData = agent.improveGraphqlData()
            data = agent.generateViewData(improvedData)
            break
          default:
            error = "Veuillez choisir une provenance pour les données de la page."
        }
        this.set({ agent, data, error, running: false })
      },
    },
  }
</script>