<svelte:head>
  <title>{dossier.titreDossier.titre} | Assemblée | Dossiers législatifs | {config.title}</title>
</svelte:head>

<article class="mx-2">
  <header class="my-4">
    <h1>
      {dossier.titreDossier.titre}
      {#if dossier.statusKnitted !== null && dossier.statusKnitted.label !== null}
        <span class="bg-{dossier.statusKnitted.color} p-1 rounded text-base text-white">{dossier.statusKnitted.label}</span>
      {/if}
    </h1>
    <h2 class="font-medium italic mt-1 text-grey-darker">
      <b>{dossier.procedureParlementaire.libelle}</b>
    </h2>
    {#if dossier.initiateur
      && dossier.initiateur.acteurs.length + dossier.initiateur.organes.length > 0
    }
      <h3 class="flex font-medium items-start mt-1 text-grey-darker">
        <span class="mr-2">{
          dossier.initiateur.acteurs.length + dossier.initiateur.organes.length > 1
            ? "Initiateurs"
            : "Initiateur"
        } :</span>
        <ul class="inline-block list-reset text-black">
          {#each dossier.initiateur.acteurs as acteur}
            {#if acteur.acteur !== null}
              <li>
                {acteur.acteur.etatCivil.ident.prenom}
                {acteur.acteur.etatCivil.ident.nom}{
                #if acteur.mandat
                  }{#if acteur.mandat.organes.length > 0
                    }, {shortNameFromOrgane(acteur.mandat.organes[0])}
                  {:else
                    }, {acteur.mandat.infosQualite.libQualiteSex || acteur.mandat.infosQualite.libQualite}
                  {/if}
                {/if}
              </li>
            {/if}
          {/each}
          {#each dossier.initiateur.organes as organe}
            {#if organe !== null}
              <li>
                {shortNameFromOrgane(organe)}
              </li>
            {/if}
          {/each}
        </ul>
      </h3>
    {/if}
    {#if dossier.procedureAccelereeKnitted !== null}
      <h3 class="mt-1">Procédure accélérée engagée par le Gouvernement</h3>
    {/if}
  </header>

  <h2 class="mt-6">Sommaire</h2>
  <ul class="list-reset">
    {#each dossier.summaryStepsKnitted as summaryStep}
      <li class="my-1 p-1">
        <span class="bg-{summaryStep.color} my-1 p-1 text-white">{
          summaryStep.organeName}{
          #if summaryStep.title !== null}
            —
            {summaryStep.title}{
          /if
        }</span>
        {#if summaryStep.status !== null && summaryStep.status.label !== null}
          <span class="bg-{summaryStep.status.color} p-1 rounded text-base text-white">{summaryStep.status.label}</span>
        {/if}
      </li>
    {/each}
  </ul>

  <h2 class="mt-6">Chronologie</h2>

  {#each dossier.nodesKnitted as node (`node_{node.date}`)}
    <section>
      <h3 class="mt-8">
        {displayDateFromString(node.date.split("T")[0])}
      </h3>
      {#each node.keys.map(key => node.blockByKey[key]) as block (`block_${block.id}`)}
        <section>
          <h4
            class="bg-{block.color} cursor-pointer font-bold inline-block mt-5 px-4 py-1 rounded-br-lg rounded-tl-lg text-lg text-white"
            on:click="toggleBlock(block.id)"
          >
            {#if block.originOrganeName !== null}
              <span class="bg-white text-{block.originColor} px-1">
                {block.originOrganeName}
                <i class="fas fa-arrow-right"></i>
              </span>
            {/if}
            {block.organeName}
            {#if block.title !== null}
              —
              {block.title}
            {/if}
            {#if closedBlock[block.id]}
              <i class="fas fa-chevron-circle-down"></i>
            {:else}
              <i class="fas fa-chevron-circle-up"></i>
            {/if}
          </h4>
          {#if !closedBlock[block.id]}
            <div class="border-l-8 border-{block.color} pl-2 py-3">
              <div class="flex flex-wrap -m-2">
                {#each block.keys.map(key => block.blockByKey[key]) as subBlock (`subBlock_${subBlock.id}`)}
                  <section class="mb-2 mx-2 w-full md:flex-1">
                    {#if subBlock.title}
                      <h5 class="mt-2">
                        {subBlock.title}
                        {#if subBlock.codeActe.includes("-AVIS-")}
                          <small class="font-normal">(saisie pour avis)</small>
                        {:elseif subBlock.codeActe.includes("-FOND-")}
                          <small class="font-normal">(saisie au fond)</small>
                        {/if}
                      </h5>
                    {/if}
                    {#each subBlock.steps as step (`step_${step.leafActe.uid}`)}
                      <section class="mt-2">
                        {#if step.typeActe ===  "ConclusionEtapeCc"}
                          <p>
                            <a href={step.leafActe.urlConclusion} target="_blank">Décision n° {step.leafActe.anneeDecision}-{step.leafActe.numDecision} DC</a> :
                            <span class="bg-{colorFromCodierLibelle(step.leafActe.statutConclusion.libelle)} rounded text-xs text-white">{
                              step.leafActe.statutConclusion.libelle
                            }</span>
                          </p>
                        {:elseif step.typeActe === "Decision"}
                          <p>
                            {(step.leafActe.libelleActe.libelleCourt || step.leafActe.libelleActe.nomCanonique).replace(/\.$/, "")}
                            {#if step.leafActe.time}
                              à {step.leafActe.time}{
                            /if}
                            {#if step.leafActe.statutConclusion !== null}
                              <span class="bg-{colorFromCodierLibelle(step.leafActe.statutConclusion.libelle)} rounded text-xs text-white">{
                                step.leafActe.statutConclusion.libelle
                              }</span>
                            {/if}
                          </p>
                          {#if step.leafActe.votes.length > 0}
                            <ul class="list-reset">
                              {#each step.leafActe.votes as vote}
                                <li><a href={urlFromScrutin(vote)} target="_blank" title="Résultats du scrutin">Vote sur {vote.titre}</a></li>
                              {/each}
                            </ul>
                          {/if}
                        {:elseif step.typeActe === "DecisionMotionCensure"}
                          <p>
                            {(step.leafActe.libelleActe.libelleCourt || step.leafActe.libelleActe.nomCanonique).replace(/\.$/, "")}
                            {#if step.leafActe.time}
                              à {step.leafActe.time}{
                            /if}
                            {#if step.leafActe.decision !== null}
                              <span class="bg-{colorFromCodierLibelle(step.leafActe.decision.libelle)} rounded text-xs text-white">{
                                step.leafActe.decision.libelle
                              }</span>
                            {/if}
                          </p>
                          {#if step.leafActe.votes.length > 0}
                            <ul class="list-reset">
                              {#each step.leafActe.votes as vote}
                                <li><a href={urlFromScrutin(vote)} target="_blank" title="Résultats du scrutin">Vote sur {vote.titre}</a></li>
                              {/each}
                            </ul>
                          {/if}
                        {:elseif step.typeActe === "DepotAvisConseilEtat"}
                          {#if step.leafActe.texteAssocieRef}
                            <ActeDocument document={dossier.documentByUidKnitted[step.leafActe.texteAssocieRef]}/>
                          {:else}
                            <p>
                              {(step.leafActe.libelleActe.libelleCourt || step.leafActe.libelleActe.nomCanonique).replace(/\.$/, "")}
                            </p>
                          {/if}
                        {:elseif step.typeActe === "DepotInitiative"}
                          {#if step.leafActe.texteAssocieRef}
                            <ActeDocument document={dossier.documentByUidKnitted[step.leafActe.texteAssocieRef]}>
                              {(step.leafActe.libelleActe.libelleCourt || step.leafActe.libelleActe.nomCanonique).replace(/\.$/, "")} :
                            </ActeDocument>
                          {:else}
                            <p>
                              {(step.leafActe.libelleActe.libelleCourt || step.leafActe.libelleActe.nomCanonique).replace(/\.$/, "")}
                            </p>
                          {/if}
                        {:elseif step.typeActe === "DepotInitiativeNavette"}
                          {#if step.leafActe.texteAssocieRef}
                            <ActeDocument document={dossier.documentByUidKnitted[step.leafActe.texteAssocieRef]}>
                              {(step.leafActe.libelleActe.libelleCourt || step.leafActe.libelleActe.nomCanonique).replace(/\.$/, "")} :
                            </ActeDocument>
                          {:else}
                            <p>
                              {(step.leafActe.libelleActe.libelleCourt || step.leafActe.libelleActe.nomCanonique).replace(/\.$/, "")}
                            </p>
                          {/if}
                        {:elseif step.typeActe === "DepotRapport"}
                          {#if step.leafActe.texteAdopteRef}
                            <ActeDocument document={dossier.documentByUidKnitted[step.leafActe.texteAdopteRef]}>
                              Texte adopté par la commission :
                            </ActeDocument>
                          {/if}
                          {#if step.leafActe.texteAssocieRef}
                            <ActeDocument document={dossier.documentByUidKnitted[step.leafActe.texteAssocieRef]}>
                              {(step.leafActe.libelleActe.libelleCourt || step.leafActe.libelleActe.nomCanonique).replace(/\.$/, "")} :
                            </ActeDocument>
                          {:else}
                            <p>
                              {(step.leafActe.libelleActe.libelleCourt || step.leafActe.libelleActe.nomCanonique).replace(/\.$/, "")}
                            </p>
                          {/if}
                        {:elseif step.typeActe === "DiscussionCommission"}
                          <p>
                            {(step.leafActe.libelleActe.libelleCourt || step.leafActe.libelleActe.nomCanonique).replace(/\.$/, "")}
                            {#if step.leafActe.reunion && step.leafActe.reunion.timestampDebut}
                              {#if step.leafActe.reunion.timestampFin}
                                de {displayTimeFromString(step.leafActe.reunion.timestampDebut)}
                                à {displayTimeFromString(step.leafActe.reunion.timestampFin)}{
                              :else}
                                à {displayTimeFromString(step.leafActe.reunion.timestampDebut)}{
                              /if}{
                            :elseif step.leafActe.time}
                              à {step.leafActe.time}{
                            /if}{
                            #if step.leafActe.reunion && step.leafActe.reunion.lieu
                              }, {step.leafActe.reunion.lieu.libelleLong || step.leafActe.reunion.lieu.libelleCourt}
                            {/if}
                          </p>
                          {#if step.leafActe.reunion}
                            <div>
                              {#if step.leafActe.reunion.ouverturePresse}
                                <i class="mr-3">Réunion ouverte à la presse</i>
                              {:else}
                                <i class="mr-3">Réunion fermée à la presse</i>
                              {/if}
                              {#if step.leafActe.odj !== null && step.leafActe.odj.comiteSecret}
                                <i class="mr-3">Point en comité secret</i>
                              {/if}
                              {#if step.leafActe.odj !== null && step.leafActe.odj.cycleDeVie !== null}
                                <i class="mr-3"><span class="text-grey-darker">statut :</span> {step.leafActe.odj.cycleDeVie.etat}</i>
                              {:elseif step.leafActe.reunion.cycleDeVie !== null}
                                <i class="mr-3"><span class="text-grey-darker">statut :</span> {step.leafActe.reunion.cycleDeVie.etat}</i>
                              {/if}
                            </div>
                            {#if step.leafActe.odj}
                              <div>
                                <span class="text-grey-darker">objet :</span>
                                {step.leafActe.odj.objet || step.leafActe.odj.typePointOdj}
                              </div>
                              {#if isDiscussionCommissionWithAmendements(dossier, step)}
                                <div>
                                  <a href="/documents/assemblee/{step.texteLoiUid}/amendements">Amendements examinés</a>
                                </div>
                              {/if}
                            {/if}
                            <div>
                              <div class="flex">
                                <span class="text-grey-darker">détails de la réunion :</span>
                                <ul class="list-reset flex">
                                  <li class="ml-1">
                                    {#if step.leafActe.reunion.odj === null || step.leafActe.reunion.odj.convocationOdj.length === 0}
                                      <span class="cursor-not-allowed inline-block text-grey-light">convocation</span>
                                    {:elseif activeTabs[step.leafActe.reunion.uid] === "convocation"}
                                      <span
                                        class="bg-blue border border-blue cursor-pointer inline-block px-1 rounded text-white"
                                        on:click="toggleTab(step.leafActe.reunion.uid, null)"
                                      >convocation</span>
                                    {:else}
                                      <span
                                        class="hover:bg-grey-lighter border border-blue cursor-pointer inline-block px-1 rounded text-blue"
                                        on:click="toggleTab(step.leafActe.reunion.uid, 'convocation')"
                                      >convocation</span>
                                    {/if}
                                  </li>
                                  <li class="ml-1">
                                    {#if step.leafActe.reunion.odj === null || step.leafActe.reunion.odj.pointsOdj.length === 0}
                                      <span class="cursor-not-allowed inline-block text-grey-light">ordre du jour</span>
                                    {:elseif activeTabs[step.leafActe.reunion.uid] === "ordre du jour"}
                                      <span
                                        class="bg-blue border border-blue cursor-pointer inline-block px-1 rounded text-white"
                                        on:click="toggleTab(step.leafActe.reunion.uid, null)"
                                      >ordre du jour</span>
                                    {:else}
                                      <span
                                        class="hover:bg-grey-lighter border border-blue cursor-pointer inline-block px-1 rounded text-blue"
                                        on:click="toggleTab(step.leafActe.reunion.uid, 'ordre du jour')"
                                      >ordre du jour</span>
                                    {/if}
                                  </li>
                                  <li class="ml-1">
                                    {#if step.leafActe.reunion.odj === null || step.leafActe.reunion.odj.resumeOdj.length === 0}
                                      <span class="cursor-not-allowed inline-block text-grey-light">résumé</span>
                                    {:elseif activeTabs[step.leafActe.reunion.uid] === "resume"}
                                      <span
                                        class="bg-blue border border-blue cursor-pointer inline-block px-1 rounded text-white"
                                        on:click="toggleTab(step.leafActe.reunion.uid, null)"
                                      >résumé</span>
                                    {:else}
                                      <span
                                        class="hover:bg-grey-lighter border border-blue cursor-pointer inline-block px-1 rounded text-blue"
                                        on:click="toggleTab(step.leafActe.reunion.uid, 'resume')"
                                      >résumé</span>
                                    {/if}
                                  </li>
                                  <li class="ml-1">
                                    {#if step.leafActe.reunion.compteRenduRef === null}
                                      <span class="cursor-not-allowed inline-block text-grey-light">compte rendu</span>
                                    {:else}
                                      <a
                                        href="http://www.assemblee-nationale.fr/ceresian/cr_redirect.asp?IdCR={step.leafActe.reunion.compteRenduRef}"
                                        target="_blank"
                                      >compte rendu</a>
                                    {/if}
                                  </li>
                                </ul>
                              </div>
                              {#if
                                step.leafActe.reunion.odj !== null
                                && step.leafActe.reunion.odj.convocationOdj.length > 0
                                && activeTabs[step.leafActe.reunion.uid] === "convocation"
                              }
                                <ul class="list-reset ml-4 mt-1 whitespace-pre-line">
                                  {#each step.leafActe.reunion.odj.convocationOdj as item}
                                    <li>{item}</li>
                                  {/each}
                                </ul>
                              {/if}
                              {#if
                                step.leafActe.reunion.odj !== null
                                && step.leafActe.reunion.odj.pointsOdj.length > 0
                                && activeTabs[step.leafActe.reunion.uid] === "ordre du jour"
                              }
                                <ul class="mt-1 whitespace-pre-line">
                                  {#each step.leafActe.reunion.odj.pointsOdj as item}
                                    <li>{item.objet}</li>
                                  {/each}
                                </ul>
                              {/if}
                              {#if
                                step.leafActe.reunion.odj !== null
                                && step.leafActe.reunion.odj.resumeOdj.length > 0
                                && activeTabs[step.leafActe.reunion.uid] === "resume"
                              }
                                <ul class="list-reset ml-4 mt-1 whitespace-pre-line">
                                  {#each step.leafActe.reunion.odj.resumeOdj as item}
                                    <li>{item}</li>
                                  {/each}
                                </ul>
                              {/if}
                            </div>
                          {/if}
                        {:elseif step.typeActe === "DiscussionSeancePublique"}
                          <p>
                            {(step.leafActe.libelleActe.libelleCourt || step.leafActe.libelleActe.nomCanonique).replace(/\.$/, "")}
                            {#if step.leafActe.reunion && step.leafActe.reunion.timestampDebut}
                              {#if step.leafActe.reunion.timestampFin}
                                de {displayTimeFromString(step.leafActe.reunion.timestampDebut)}
                                à {displayTimeFromString(step.leafActe.reunion.timestampFin)}{
                              :else}
                                à {displayTimeFromString(step.leafActe.reunion.timestampDebut)}{
                              /if}{
                            :elseif step.leafActe.time}
                              à {step.leafActe.time}{
                            /if}
                          </p>
                          {#if step.leafActe.reunion}
                            <div>
                              {#if step.leafActe.reunion.identifiants}
                                <i class="mr-3">{
                                  step.leafActe.reunion.identifiants.quantieme} séance
                                  {#if step.leafActe.reunion.identifiants.numSeanceJo !== null}
                                    (n° {step.leafActe.reunion.identifiants.numSeanceJo}){
                                  /if
                                }</i>
                              {/if}
                              {#if step.leafActe.reunion.ouverturePresse}
                                <i class="mr-3">Réunion ouverte à la presse</i>
                              {:else}
                                <i class="mr-3">Réunion fermée à la presse</i>
                              {/if}
                              {#if step.leafActe.odj !== null && step.leafActe.odj.comiteSecret}
                                <i class="mr-3">Point en comité secret</i>
                              {/if}
                              {#if step.leafActe.odj !== null && step.leafActe.odj.cycleDeVie !== null}
                                <i class="mr-3"><span class="text-grey-darker">statut :</span> {step.leafActe.odj.cycleDeVie.etat}</i>
                              {:elseif step.leafActe.reunion.cycleDeVie !== null}
                                <i class="mr-3"><span class="text-grey-darker">statut :</span> {step.leafActe.reunion.cycleDeVie.etat}</i>
                              {/if}
                            </div>
                            {#if step.leafActe.odj}
                              <div>
                                <span class="text-grey-darker">objet :</span>
                                {step.leafActe.odj.objet || step.leafActe.odj.typePointOdj}
                              </div>
                            {/if}
                            <div>
                              <div class="flex">
                                <span class="text-grey-darker">détails de la réunion :</span>
                                <ul class="list-reset flex">
                                  <!-- <li class="ml-1">
                                    {#if step.leafActe.reunion.odj === null || step.leafActe.reunion.odj.convocationOdj.length === 0}
                                      <span class="cursor-not-allowed inline-block text-grey-light">convocation</span>
                                    {:elseif activeTabs[step.leafActe.reunion.uid] === "convocation"}
                                      <span
                                        class="bg-blue border border-blue cursor-pointer inline-block px-1 rounded text-white"
                                        on:click="toggleTab(step.leafActe.reunion.uid, null)"
                                      >convocation</span>
                                    {:else}
                                      <span
                                        class="hover:bg-grey-lighter border border-blue cursor-pointer inline-block px-1 rounded text-blue"
                                        on:click="toggleTab(step.leafActe.reunion.uid, 'convocation')"
                                      >convocation</span>
                                    {/if}
                                  </li> -->
                                  <li class="ml-1">
                                    {#if step.leafActe.reunion.odj === null || step.leafActe.reunion.odj.pointsOdj.length === 0}
                                      <span class="cursor-not-allowed inline-block text-grey-light">ordre du jour</span>
                                    {:elseif activeTabs[step.leafActe.reunion.uid] === "ordre du jour"}
                                      <span
                                        class="bg-blue border border-blue cursor-pointer inline-block px-1 rounded text-white"
                                        on:click="toggleTab(step.leafActe.reunion.uid, null)"
                                      >ordre du jour</span>
                                    {:else}
                                      <span
                                        class="hover:bg-grey-lighter border border-blue cursor-pointer inline-block px-1 rounded text-blue"
                                        on:click="toggleTab(step.leafActe.reunion.uid, 'ordre du jour')"
                                      >ordre du jour</span>
                                    {/if}
                                  </li>
                                  <!-- <li class="ml-1">
                                    {#if step.leafActe.reunion.odj === null || step.leafActe.reunion.odj.resumeOdj.length === 0}
                                      <span class="cursor-not-allowed inline-block text-grey-light">résumé</span>
                                    {:elseif activeTabs[step.leafActe.reunion.uid] === "resume"}
                                      <span
                                        class="bg-blue border border-blue cursor-pointer inline-block px-1 rounded text-white"
                                        on:click="toggleTab(step.leafActe.reunion.uid, null)"
                                      >résumé</span>
                                    {:else}
                                      <span
                                        class="hover:bg-grey-lighter border border-blue cursor-pointer inline-block px-1 rounded text-blue"
                                        on:click="toggleTab(step.leafActe.reunion.uid, 'resume')"
                                      >résumé</span>
                                    {/if}
                                  </li> -->
                                  <li class="ml-1">
                                    {#if step.leafActe.reunion.compteRenduRef === null}
                                      <span class="cursor-not-allowed inline-block text-grey-light">compte rendu</span>
                                    {:else}
                                      <a
                                        href="http://www.assemblee-nationale.fr/ceresian/cr_seance_redirect.asp?IdCR={step.leafActe.reunion.compteRenduRef}"
                                        target="_blank"
                                      >compte rendu</a>
                                    {/if}
                                  </li>
                                </ul>
                              </div>
                              <!-- {#if
                                step.leafActe.reunion.odj !== null
                                && step.leafActe.reunion.odj.convocationOdj.length > 0
                                && activeTabs[step.leafActe.reunion.uid] === "convocation"
                              }
                                <ul class="list-reset ml-4 mt-1 whitespace-pre-line">
                                  {#each step.leafActe.reunion.odj.convocationOdj as item}
                                    <li>{item}</li>
                                  {/each}
                                </ul>
                              {/if} -->
                              {#if
                                step.leafActe.reunion.odj !== null
                                && step.leafActe.reunion.odj.pointsOdj.length > 0
                                && activeTabs[step.leafActe.reunion.uid] === "ordre du jour"
                              }
                                <ul class="mt-1 whitespace-pre-line">
                                  {#each step.leafActe.reunion.odj.pointsOdj as item}
                                    <li>{item.objet}</li>
                                  {/each}
                                </ul>
                              {/if}
                              <!-- {#if
                                step.leafActe.reunion.odj !== null
                                && step.leafActe.reunion.odj.resumeOdj.length > 0
                                && activeTabs[step.leafActe.reunion.uid] === "resume"
                              }
                                <ul class="list-reset ml-4 mt-1 whitespace-pre-line">
                                  {#each step.leafActe.reunion.odj.resumeOdj as item}
                                    <li>{item}</li>
                                  {/each}
                                </ul>
                              {/if} -->
                            </div>
                          {/if}
                        {:elseif step.typeActe === "EtudeImpact"}
                          {#if step.leafActe.texteAssocieRef}
                            <ActeDocument document={dossier.documentByUidKnitted[step.leafActe.texteAssocieRef]}/>
                          {:else}
                            <p>
                              {(step.leafActe.libelleActe.libelleCourt || step.leafActe.libelleActe.nomCanonique).replace(/\.$/, "")}
                            </p>
                          {/if}
                        {:elseif step.typeActe === "EtudeImpact.contributionInternaute.dateFermeture"}
                          <p>
                            Fin de la consultation en ligne des citoyens
                          </p>
                        {:elseif step.typeActe === "EtudeImpact.contributionInternaute.dateOuverture"}
                          <p>
                            Début de la consultation en ligne des citoyens
                          </p>
                        {:elseif step.typeActe === "NominRapporteurs"}
                          <p>
                            {(step.leafActe.libelleActe.libelleCourt || step.leafActe.libelleActe.nomCanonique).replace(/\.$/, "")} :
                          </p>
                          {#each step.leafActe.rapporteurs as rapporteur}
                            {#if rapporteur.acteur === null}
                              <div class="font-semibold italic">Rapporteur inconnu :</div>
                              <pre class="whitespace-pre-wrap">{JSON.stringify(rapporteur, null, 2)}</pre>
                            {:else}
                              <div class="inline-flex items-center">
                                {#if rapporteur.acteur.photo}
                                  <a href="/deputes/{rapporteur.acteur.uid}">
                                    <img
                                      alt="{photoAlt(rapporteur.acteur.etatCivil)}"
                                      class="h-32"
                                      src={resolveUrl(config.assembleeApiUrl, `/assets/${rapporteur.acteur.photo.chemin}`)}
                                      title="{rapporteur.acteur.etatCivil.ident.prenom} {rapporteur.acteur.etatCivil.ident.nom}"
                                    >
                                  </a>
                                {/if}
                                <div class="leading-normal ml-4">
                                  <a class="font-semibold italic" href="/deputes/{rapporteur.acteur.uid}">
                                    <!-- {rapporteur.acteur.etatCivil.ident.civ} -->
                                    {rapporteur.acteur.etatCivil.ident.prenom}
                                    {rapporteur.acteur.etatCivil.ident.nom}
                                  </a>
                                  <i class="text-sm">({textFromTypeRapporteur(rapporteur.typeRapporteur)})</i>
                                  {#if rapporteur.acteur.groupePolitique}
                                    <div>
                                      {rapporteur.acteur.groupePolitique.libelle}
                                    </div>
                                  {/if}
                                </div>
                              </div>
                            {/if}
                          {/each}
                        {:elseif step.typeActe === "ProcedureAcceleree"}
                          <p>
                            {(step.leafActe.libelleActe.libelleCourt || step.leafActe.libelleActe.nomCanonique).replace(/\.$/, "")}
                          </p>
                        {:elseif step.typeActe === "Promulgation"}
                          <p>
                            Promulgation de la loi n° {step.leafActe.codeLoi}
                          </p>
                        {:elseif step.typeActe === "Promulgation.infoJo"}
                          <p>
                            Parution au <a href={step.leafActe.infoJo.urlLegifrance} target="_blank">Journal officiel n° {step.leafActe.infoJo.numJo}</a>
                            de la loi n° {step.leafActe.codeLoi} du {displayDateWithoutDayOfWeekFromString(step.leafActe.dateActe)}
                            {step.leafActe.titreLoi}
                          </p>
                        {:elseif step.typeActe === "Promulgation.infoJoRect"}
                          <p>
                            Parution au <a href={step.infoJo.urlLegifrance} target="_blank">Journal officiel n° {step.infoJo.numJo}</a>
                            d'un rectificatif à la loi n° {step.leafActe.codeLoi} du {displayDateWithoutDayOfWeekFromString(step.leafActe.dateActe)}
                            {step.leafActe.titreLoi}
                          </p>
                        {:elseif step.typeActe === "RenvoiCmp"}
                          <p>
                            Convocation {step.leafActe.organe.libelleEdition}
                          </p>
                        {:elseif ["SaisieComAvis", "SaisieComFond"].includes(step.typeActe)}
                          <p>
                            {(step.leafActe.libelleActe.libelleCourt || step.leafActe.libelleActe.nomCanonique).replace(/\.$/, "")
                            } :
                          </p>
                          {#if step.leafActe.codeActe.includes("-COM-")}
                            <h5>{step.leafActe.organe.libelle} ({shortNameFromOrgane(step.leafActe.organe)})</h5>
                          {/if}
                        {:elseif step.typeActe ===  "SaisineConseilConstit"}
                          <p>
                            {(step.leafActe.libelleActe.libelleCourt || step.leafActe.libelleActe.nomCanonique).replace(/\.$/, "")}{
                            #if step.leafActe.casSaisine}
                               par {uncapitalizeFirstLetter(step.leafActe.casSaisine.libelle)}{
                            /if}{
                            #if step.leafActe.motif
                              }, {uncapitalizeFirstLetter(step.leafActe.motif)}{
                            /if}
                          </p>
                        {:else}
                          <ul>
                            {#each step.actes as acte, acteIndex}
                              {#if acteIndex !== 0 || !step.skipRootActe}
                                <li>
                                  {acte.libelleActe.libelleCourt || acte.libelleActe.nomCanonique}
                                  {#if acte.casSaisine}
                                    <span class="bg-{colorFromCodierLibelle(acte.casSaisine.libelle)} rounded text-xs text-white">{
                                      acte.casSaisine.libelle
                                    }</span>
                                  {/if}
                                  {#if acte.decision}
                                    <span class="bg-{colorFromCodierLibelle(acte.decision.libelle)} rounded text-xs text-white">{
                                      acte.decision.libelle
                                    }</span>
                                  {/if}
                                  {#if acte.statutAdoption}
                                    <span class="bg-{colorFromCodierLibelle(acte.statutAdoption.libelle)} rounded text-xs text-white">{
                                      acte.statutAdoption.libelle
                                    }</span>
                                  {/if}
                                  {#if acte.statutConclusion}
                                    <span class="bg-{colorFromCodierLibelle(acte.statutConclusion.libelle)} rounded text-xs text-white">{
                                      acte.statutConclusion.libelle
                                    }</span>
                                  {/if}
                                  {#if acte.typeDeclaration}
                                    <span class="bg-{colorFromCodierLibelle(acte.typeDeclaration.libelle)} rounded text-xs text-white">{
                                      acte.typeDeclaration.libelle
                                    }</span>
                                  {/if}
                                  {#if acte.typeMotion}
                                    <span class="bg-{colorFromCodierLibelle(acte.typeMotion.libelle)} rounded text-xs text-white">{
                                      acte.typeMotion.libelle
                                    }</span>
                                  {/if}
                                  {#if acte.typeMotionCensure}
                                    <span class="bg-{colorFromCodierLibelle(acte.typeMotionCensure.libelle)} rounded text-xs text-white">{
                                      acte.typeMotionCensure.libelle
                                    }</span>
                                  {/if}
                                  {#if acte.time}
                                    <span>à {acte.time}</span>
                                  {/if}
                                </li>
                              {/if}
                            {/each}
                          </ul>
                        {/if}
                      </section>
                    {/each}
                  </section>
                {/each}
              </div>
            </div>
          {/if}
        </section>
      {/each}
    </section>
  {/each}
</article>

<aside class="my-4 px-2 py-4 text-sm" role="complementary">
  <div class="flex flex-wrap -mx-2 -my-4">
    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-indigo font-bold px-4 py-2 rounded-t text-lg text-white">
        Pour en savoir plus
      </h2>
      <div class="bg-indigo-lightest border border-t-0 border-indigo-light px-4 py-3 rounded-b text-indigo-dark">
        {#if dossier.titreDossier.titreChemin}
          <h3 class="font-medium mb-1 text-base text-normal">
            Assemblée nationale
          </h3>

          <ul class="list-reset">
            <li><a href="http://www.assemblee-nationale.fr/dyn/{dossier.legislature}/dossiers/{dossier.titreDossier.titreChemin}" target="_blank">Dossier législatif : {dossier.titreDossier.titre}</a></li>
          </ul>
        {/if}

        {#if dossier.titreDossier.senatChemin}
          <h3 class="font-medium mb-1{dossier.titreDossier.titreChemin ? " mt-4" : ""} text-base text-normal">
            Sénat
          </h3>

          <ul class="list-reset">
            <li><a href="{dossier.titreDossier.senatChemin}" target="_blank">Dossier législatif : {dossier.titreDossier.titre}</a></li>
          </ul>
        {/if}

        <!-- {#if dossierLegislatif.doscocurl}
          <h3 class="font-medium mb-1 mt-4 text-base text-normal">
            Conseil constitutionnel
          </h3>

          <ul class="list-reset">
            <li><a href={dossierLegislatif.doscocurl} target="_blank">Dossier législatif : {dossier.titreDossier.titre}</a></li>
          </ul>
        {/if} -->

        <!-- <h3 class="font-medium mb-1 mt-4 text-base text-normal">
          La fabrique de la loi
        </h3>

        <ul class="list-reset">
          <li><a href="https://www.lafabriquedelaloi.fr/articles.html?loi={dossierLegislatif.signet}" target="_blank">Étapes et versions : {dossier.titreDossier.titre}</a></li>
        </ul> -->

        <!-- {#if archeoLexUrl !== null}
          <h3 class="font-medium mb-1 mt-4 text-base text-normal">
            Archéo Lex
          </h3>

          <ul class="list-reset">
            <li><a href={archeoLexUrl} target="_blank">
              Historique de la loi n° {dossierLegislatif.numero}
              du {displayDateWithoutDayOfWeekFromEpoch(dossierLegislatif.dateLoi)}
              {dossierLegislatif.loititjo}
            </a></li>
          </ul>
        {/if} -->
      </div>
    </div>

    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-teal font-bold px-4 py-2 rounded-t text-lg text-white">
        Les coulisses techniques
      </h2>
      <div class="bg-teal-lightest border border-t-0 border-teal-light px-4 py-3 rounded-b text-teal-dark">
        <ul class="list-reset">
          <li><button class="button-link" on:click="fire('openNewIssueModal')" title="Ouvre un formulaire de saisie d'une remarque sur cette page." type="button">Signaler un problème ou suggérer une amélioration</button></li>
          <li><a href="/dossiers/assemblee/{dossier.uid}/api" target="_blank" title="Voir les appels à l'API effectués pour générer cette page.">Appels à l'API</a></li>
          <li><a href="https://framagit.org/tricoteuses/tricoteuses-ui/blob/master/src/routes/dossiers/assemblee/[dossier]/index.html" target="_blank" title="Voir le code source de la page dans la forge du logiciel.">Code source de cette page</a></li>
        </ul>
      </div>
    </div>
  </div>
</aside>

<script>
  import resolveUrl from "url-resolve"

  import config from "../../../../config"
  import { displayDateFromString, displayDateWithoutDayOfWeekFromString, displayTimeFromString } from "../../../../dates"
  import { newViewAgent } from "../../../../model/assemblee/dossier"
  import {
    colorFromCodierLibelle,
    shortNameFromOrgane,
    textFromTypeRapporteur,
    urlFromScrutin,
  } from "../../../../model/assemblee/helpers"
  import { uncapitalizeFirstLetter } from "../../../../strings"

  export default {
    components: {
      ActeDocument: "../../../../components/assemblee/ActeDocument.html",
    },
    data() {
      return {
        activeTabs: {},
        closedBlock: {},
      }
    },
    helpers: {
      colorFromCodierLibelle,
      config,
      displayDateFromString,
      displayDateWithoutDayOfWeekFromString,
      displayTimeFromString,
      isDiscussionCommissionWithAmendements(dossier, step) {
        if (step.texteLoiUid === null) {
          return false
        }
        const odj = step.leafActe.odj
        if (odj === null || odj.typePointOdj !== "Examen") {
          return false
        }
        const texteLoi = dossier.documentByUidKnitted[step.texteLoiUid]
        if (texteLoi === undefined || texteLoi.depotAmendements === null) {
          return false
        }
        const amendementsCommission = texteLoi.depotAmendements.amendementsCommission.find(amendementsCommision =>
          amendementsCommision.amendable && amendementsCommision.organeRef === step.leafActe.organeRef
        )
        return amendementsCommission !== undefined
      },
      photoAlt: etatCivil => {
        const {civ, nom, prenom} = etatCivil.ident
        return `Photo de ${civ} ${prenom} ${nom}`
      },
      shortNameFromOrgane,
      resolveUrl,
      textFromTypeRapporteur,
      uncapitalizeFirstLetter,
      urlFromScrutin,
    },
    methods: {
      toggleBlock(symbol) {
        let { closedBlock } = this.get()
        closedBlock = {
          ...closedBlock,
          [symbol]: !closedBlock[symbol],
        }
        this.set({ closedBlock })
      },
      toggleTab(symbol, value) {
        let { activeTabs } = this.get()
        activeTabs = {
          ...activeTabs,
          [symbol]: value,
        }
        this.set({ activeTabs })
      },
    },
    async preload({ params /* , query */ }) {
      const agent = newViewAgent(params.dossier)
      const dossier = await agent.retrieveData(this.fetch)
      return {
        dossier,
      }
    },
  }
</script>