<svelte:head>
  <title>API | Assemblée | Dossiers législatifs | {config.title}</title>
</svelte:head>

<DataQueries {agent}/>

<script>
  import config from "../../../config"
  import { newGraphqlAgent } from "../../../model/dossiers_actuels"

  export default {
    components: {
      DataQueries: "../../../components/DataQueries.html",
    },
    helpers: {
      config,
    },
    async preload(/* { params, query } */) {
      return {
        agent: newGraphqlAgent(),
      }
    },
  }
</script>