<svelte:head>
  <title>Assemblée | Dossiers législatifs | {config.title}</title>
</svelte:head>

<h1>Projets et propositions de lois en cours <small><a class="badge badge-info" href="/dossiers/assemblee/api" title="Voir les appels à l'API effectués pour afficher cette page.">API</a></small></h1>

<h2>À venir</h2>

<ul>
  {#each dossiersAssembleeAVenir as dossier (dossier.id)}
    <li>
      <a href="/dossiers/assemblee/{dossier.uid}">{dossier.titreDossier.titre}</a>
    </li>
  {/each}
</ul>

<h2>Récents</h2>

<ul>
  {#each dossiersAssembleeRecents as dossier (dossier.id)}
    <li>
      <a href="/dossiers/assemblee/{dossier.uid}">{dossier.titreDossier.titre}</a>
    </li>
  {/each}
</ul>

<aside class="row" role="complementary">
  <div class="col">
    <div class="bg-light card mb-4 mt-4">
      <h2 class="card-header h5">Pour en savoir plus</h2>

      <div class="card-body">
        <h3 class="card-title h6 mb-0">Assemblée nationale</h3>
      </div>

      <ul class="list-reset">
        <li><a href="http://www.assemblee-nationale.fr/agendas/odj.asp" target="_blank">Ordre du jour</a></li>
        <li><a href="http://www.assemblee-nationale.fr/{legislature}/liste/texte_ordre_du_jour.asp" target="_blank">Textes inscrits à l'ordre du jour</a></li>
        <li><a href="http://www.assemblee-nationale.fr/{legislature}/documents/tableau-ban.asp" target="_blank">État d'avancement des travaux législatifs</a></li>
        <li><a href="http://www.assemblee-nationale.fr/dyn/{legislature}/dossiers" target="_blank">Liste des dossiers législatifs</a></li>
      </ul>

      <div class="card-body">
        <h3 class="card-title h6 mb-0">Sénat</h3>
      </div>

      <ul class="list-reset">
        <li><a href="https://www.senat.fr/ordre-du-jour/ordre-du-jour.html" target="_blank">Ordre du jour</a></li>
        <li><a href="https://www.senat.fr/dossiers-legislatifs/textes-recents.html" target="_blank">Projets et propositions de loi récents ou discutés prochainement</a></li>
      </ul>

      <div class="card-body">
        <h3 class="card-title h6 mb-0">La fabrique de la loi</h3>
      </div>

      <ul class="list-reset">
        <li><a href="https://www.lafabriquedelaloi.fr/lois.html" target="_blank">Textes promulgués depuis 2008</a></li>
      </ul>
    </div>
  </div>

  <div class="col">
    <div class="bg-light card mb-4 mt-4">
      <h2 class="card-header h5">Les coulisses techniques</h2>

      <ul class="list-reset">
        <li><button class="button-link" on:click="fire('openNewIssueModal')" title="Ouvre un formulaire de saisie d'une remarque sur cette page." type="button">Signaler un problème ou suggérer une amélioration</button></li>
        <li><a href="/dossiers/assemblee/api" target="_blank" title="Voir les appels à l'API effectués pour générer cette page.">Appels à l'API</a></li>
        <li><a href="https://framagit.org/tricoteuses/tricoteuses-ui/blob/master/src/routes/dossiers/assemblee/index.html" target="_blank" title="Voir le code source de la page dans la forge du logiciel.">Code source de cette page</a></li>
      </ul>
    </div>
  </div>
</aside>

<script>
  import config from "../../../config"
  import { nextDate, previousDate, unflattenDossierParlementaire } from "../../../model/assemblee/helpers"
  import { newGraphqlAgent } from "../../../model/dossiers_actuels"

  const nowText = new Date().toISOString()

  export default {
    data() {
      return {
        legislature: 15,
        nowText: new Date().toISOString(),
      }
    },
    helpers: {
      config,
    },
    async preload(/* { params, query } */) {
      const agent = newGraphqlAgent()
      await Promise.all(
        Object.values(agent)
          .map(agent => agent.fetchStaticGraphqlData(this.fetch))
      )
      return {
        dossiersAssembleeAVenir: agent.dossiersAssembleeAVenir
          .graphqlData
          .data
          .dossiersParlementairesFuturs
          .map(unflattenDossierParlementaire)
          .sort((a, b) => (nextDate(a, nowText) || "").localeCompare(nextDate(b, nowText))),
        dossiersAssembleeRecents: agent.dossiersAssembleeRecents
          .graphqlData
          .data
          .dossiersParlementairesRecents
          .map(unflattenDossierParlementaire)
          .sort((a, b) => (previousDate(b, nowText) || "").localeCompare(previousDate(a, nowText))),
      }
    },
  }
</script>