<svelte:head>
  <title>{dossierLegislatif.loient} | Sénat | Dossiers législatifs | {config.title}</title>
</svelte:head>

<article class="mx-2">
  <header class="my-4">
    <h1>
      {dossierLegislatif.loient}
      <span class="bg-{colorFromEtaloilib(dossierLegislatif.etaloi.etaloilib)} p-1 rounded text-base text-white">{
        dossierLegislatif.etaloi.etaloilib === "promulgué ou adopté (ppr)"
          ? "adopté"
          : dossierLegislatif.etaloi.etaloilib
      }</span>
    </h1>
    <h2 class="font-medium italic mt-1 text-grey-darker"><b>{capitalizeFirstLetter(dossierLegislatif.typloi.typloiden)}</b> {dossierLegislatif.loiint}</h2>
    {#if dossierLegislatif.proaccdat !== null && dossierLegislatif.proaccoppdat === null && dossierLegislatif.retproaccdat === null}
      <h3 class="mt-1">Procédure accélérée engagée par le Gouvernement</h3>
    {/if}
  </header>

  {#if dossierLegislatif.objet}
    <div class="my-4 w-full">
      <h2 class="bg-grey-dark cursor-pointer font-bold inline-block px-4 py-1 rounded-br-lg rounded-tl-lg text-lg text-white" on:click="toggle('objet')">
        Objet du texte
        {#if closed["objet"]}
          <i class="fas fa-chevron-circle-down"></i>
        {:else}
          <i class="fas fa-chevron-circle-up"></i>
        {/if}
      </h2>
      {#if !closed["objet"]}
        <div class="bg-grey-lighter border-l-8 border-t-0 border-grey-dark leading-normal px-2 py-3">
          {@html dossierLegislatif.objet.replace(/^\d+\s+/, "").replace(/\n/g, "<br>\n")}
        </div>
      {/if}
    </div>
  {/if}

  <h2 class="mt-6">Chronologie</h2>

  {#each stepsByOrganismeByEpochByLectureAndAssemblee as [lecture, lecass, stepsByOrganismeByEpoch]}
    <section>
      <h3
        class="{
          lecass.ass.codass === "A"
            ? "bg-assemblee"
            : lecass.ass.codass === "C"
              ? "bg-conseil-constitutionnel"
              : lecass.ass.codass === "G"
                ? "bg-gouvernement"
                : lecass.ass.codass === "S"
                  ? "bg-senat"
                  : "bg-yellow-darker"
        } cursor-pointer font-bold inline-block mt-5 px-4 py-1 rounded-br-lg rounded-tl-lg text-lg text-white"
        on:click="toggle(lecass.lecassidt)"
      >
        {#if !["C", "G", "I"].includes(lecass.ass.codass)}
          {lecass.ass.libass}
          —
        {/if}
        {lecture.leccom}
        {#if closed[lecass.lecassidt]}
          <i class="fas fa-chevron-circle-down"></i>
        {:else}
          <i class="fas fa-chevron-circle-up"></i>
        {/if}
      </h3>
      {#if !closed[lecass.lecassidt]}
        <div
          class="border-l-8 {
            lecass.ass.codass === "A"
              ? "border-assemblee"
              : lecass.ass.codass === "C"
                ? "border-conseil-constitutionnel"
                : lecass.ass.codass === "G"
                  ? "border-gouvernement"
                  : lecass.ass.codass === "S"
                    ? "border-senat"
                    : "border-yellow-darker"
          } pl-2"
        >
          {#each stepsByOrganismeByEpoch as [epoch, stepsByOrganisme]}
            <section>
              <h4 class="pt-4">{displayDateFromEpoch(epoch)}</h4>
              {#each stepsByOrganisme as [organisme, steps]}
                {#if organisme === null}
                  <section class="ml-4">
                    <ul class="list-reset">
                      {#each steps as step}
                        <li class="mt-2">
                          <SenatStep {step} {lecass} {lecture}/>
                        </li>
                      {/each}
                    </ul>
                  </section>
                {:else}
                  <section class="ml-4">
                    <h5 class="mb-2 mt-3">{capitalizeFirstLetter(organisme.orgnom)}</h5>
                    <ul>
                      {#each steps as step}
                        <li>
                          <SenatStep {step} {lecass} {lecture}/>
                        </li>
                      {/each}
                    </ul>
                  </section>
                  {/if}
              {/each}
            </section>
          {/each}
        </div>
      {/if}
    </section>
  {/each}
</article>

<aside class="my-4 px-2 py-4 text-sm" role="complementary">
  <div class="flex flex-wrap -mx-2 -my-4">
    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-indigo font-bold px-4 py-2 rounded-t text-lg text-white">
        Pour en savoir plus
      </h2>
      <div class="bg-indigo-lightest border border-t-0 border-indigo-light px-4 py-3 rounded-b text-indigo-dark">
        {#if dossierLegislatif.urlAn}
          <h3 class="font-medium mb-1 text-base text-normal">
            Assemblée nationale
          </h3>

          <ul class="list-reset">
            <li><a href="{dossierLegislatif.urlAn}" target="_blank">Dossier législatif {dossierLegislatif.typloi.typloide} {dossierLegislatif.typloi.typloiden}</a></li>
          </ul>
        {/if}

        <h3 class="font-medium mb-1{dossierLegislatif.urlAn ? " mt-4" : ""} text-base text-normal">
          Sénat
        </h3>

        <ul class="list-reset">
          <li><a href="https://www.senat.fr/dossier-legislatif/{dossierLegislatif.signet}.html" target="_blank">Dossier législatif {dossierLegislatif.typloi.typloide} {dossierLegislatif.typloi.typloiden}</a></li>
        </ul>

        {#if dossierLegislatif.doscocurl}
          <h3 class="font-medium mb-1 mt-4 text-base text-normal">
            Conseil constitutionnel
          </h3>

          <ul class="list-reset">
            <li><a href={dossierLegislatif.doscocurl} target="_blank">Dossier législatif {dossierLegislatif.typloi.typloide} {dossierLegislatif.typloi.typloiden}</a></li>
          </ul>
        {/if}

        <h3 class="font-medium mb-1 mt-4 text-base text-normal">
          La fabrique de la loi
        </h3>

        <ul class="list-reset">
          <li><a href="https://www.lafabriquedelaloi.fr/articles.html?loi={dossierLegislatif.signet}" target="_blank">Étapes et versions {dossierLegislatif.typloi.typloide} {dossierLegislatif.typloi.typloiden}</a></li>
        </ul>

        {#if archeoLexUrl !== null}
          <h3 class="font-medium mb-1 mt-4 text-base text-normal">
            Archéo Lex
          </h3>

          <ul class="list-reset">
            <li><a href={archeoLexUrl} target="_blank">
              Historique de la loi n° {dossierLegislatif.numero}
              du {displayDateWithoutDayOfWeekFromEpoch(dossierLegislatif.dateLoi)}
              {dossierLegislatif.loititjo}
            </a></li>
          </ul>
        {/if}
      </div>
    </div>

    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-teal font-bold px-4 py-2 rounded-t text-lg text-white">
        Les coulisses techniques
      </h2>
      <div class="bg-teal-lightest border border-t-0 border-teal-light px-4 py-3 rounded-b text-teal-dark">
        <ul class="list-reset">
          <li><button class="button-link" on:click="fire('openNewIssueModal')" title="Ouvre un formulaire de saisie d'une remarque sur cette page." type="button">Signaler un problème ou suggérer une amélioration</button></li>
          <li><a href="/dossiers/senat/{dossierLegislatif.signet}/api" target="_blank" title="Voir les appels à l'API effectués pour générer cette page.">Appels à l'API</a></li>
          <li><a href="https://framagit.org/tricoteuses/tricoteuses-ui/blob/master/src/routes/dossiers/senat/[dossier]/index.html" target="_blank" title="Voir le code source de la page dans la forge du logiciel.">Code source de cette page</a></li>
        </ul>
      </div>
    </div>
  </div>
</aside>

<script>
  import getTime from "date-fns/get_time"
  import startOfDay from "date-fns/start_of_day"

  import config from "../../../../config"
  import { displayDateFromEpoch, displayDateWithoutDayOfWeekFromEpoch } from "../../../../dates"
  import { colorFromEtaloilib, } from "../../../../model/senat/helpers"
  import { newGraphqlAgent } from "./_requests"
  import { capitalizeFirstLetter, } from "../../../../strings"

  const stepPriorityByTypeName = {
    "AmendementsCommission": 2,
    "AmendementsSeance": 4,
    "Aud": 3,  // Réunions de commissions
    "DateSeance": 5,  // Séances publiques
    "LecAssRap": 1,  // Les "rapports" are published before "réunions de commissions" or "séances publiques",
    "Texte": 6,  // "Textes votés" published at the end of "réunions de commissions" or "séances publiques"
  }

  function stepNumber(step) {
    switch (step.__typename) {
      case "Aud":
        return step.audcle
      case "DateSeance":
        return step.code
      case "LecAssRap":
        return step.rap.rapnum
      case "Texte":
        return step.texnum
      default:
        return 0
    }
  }

  export default {
    components: {
      SenatStep: "../../../../components/SenatStep.html",
    },
    data() {
      return {
        closed: {},
      }
    },
    helpers: {
      capitalizeFirstLetter,
      colorFromEtaloilib,
      config,
      displayDateFromEpoch,
      displayDateWithoutDayOfWeekFromEpoch,
    },
    methods: {
      toggle(symbol) {
        let { closed } = this.get()
        closed = {
          ...closed,
          [symbol]: !closed[symbol],
        }
        this.set({ closed })
      },
    },
    async preload({ params /* , query */ }) {
      const { dossierLegislatifAgent } = newGraphqlAgent(params.dossier).agentBySymbol
      await dossierLegislatifAgent.fetchGraphqlData()
      const dossierLegislatif = dossierLegislatifAgent
        .graphqlData
        .data
        .dossierLegislatifParSignet
      const stepsByOrganismeByEpochByLectureAndAssemblee = []
      for (let lecture of dossierLegislatif.lectures) {
        for (let lecass of lecture.lecass) {
          const epochAndStepCouples = [
            ...lecass.auds.map(aud => [aud.auddat, aud]),
            ...lecass.datesSeances.map(dateSeance => [dateSeance.dateS, dateSeance]),
            ...lecass.lecassrap.map(lecassrap => [lecassrap.rap.dateDepot, lecassrap]),
            ...lecass.textes.map(texte => [texte.txtoritxtdat, texte]),
          ]
          if (lecass.lecassamecom !== null) {
            const startOfDayDate = startOfDay(lecass.lecassamecomdat * 1000)
            const startOfDayEpoch = getTime(startOfDayDate) / 1000 - startOfDayDate.getTimezoneOffset() * 60
            epochAndStepCouples.push([
              startOfDayEpoch,
              {
                ...lecass,
                __typename: "AmendementsCommision"
              },
            ])
          }
          if (lecass.lecassame !== null) {
            const startOfDayDate = startOfDay(lecass.lecassamedat * 1000)
            const startOfDayEpoch = getTime(startOfDayDate) / 1000 - startOfDayDate.getTimezoneOffset() * 60
            epochAndStepCouples.push([
              startOfDayEpoch,
              {
                ...lecass,
                __typename: "AmendementsSeance"
              },
            ])
          }
          epochAndStepCouples
            .sort(([epoch1, step1], [epoch2, step2]) =>
              epoch1 === epoch2
                ? step1.__typename === step2.__typename
                  ? stepNumber(step1) - stepNumber(step2)
                  : stepPriorityByTypeName[step1.__typename] - stepPriorityByTypeName[step2.__typename]
                : epoch1 - epoch2
            )

          const stepsByOrganismeByEpoch = []
          stepsByOrganismeByEpochByLectureAndAssemblee.push([lecture, lecass, stepsByOrganismeByEpoch])
          let currentEpoch = null
          let stepsByOrganisme = null
          let stepsByCodeOrganisme = null
          for (let [epoch, step] of epochAndStepCouples) {
            if (epoch !== currentEpoch) {
              stepsByCodeOrganisme = {}
              stepsByOrganisme = []
              stepsByOrganismeByEpoch.push([epoch, stepsByOrganisme])
              currentEpoch = epoch
            }

            let organismes = null
            switch (step.__typename) {
              case "AmendementsCommision":
              case "Aud":
              case "Texte":
                organismes = [step.org]
                break
              case "AmendementsSeance":
              case "DateSeance":
                organismes = [null]
                break
              case "LecAssRap":
                organismes = step.rap.orgs
                break
              default:
            }
            for (let organisme of organismes) {
              const codeOrganisme = organisme === null ? "" : organisme.orgcod
              let steps = stepsByCodeOrganisme[codeOrganisme]
              if (steps === undefined) {
                steps = []
                stepsByCodeOrganisme[codeOrganisme] = steps
                stepsByOrganisme.push([organisme, steps])
              }
              steps.push(step)
            }
          }
        }
      }

      if (dossierLegislatif.proaccdat !== null) {
        // Procédure accélérée
        const lecass = {
          ass: {
            codass: "G",
            libass: "Gouvernement",
          },
          lecassidt: "procedure_acceleree",
        }
        const lecture = {
          lecass: [lecass],
          leccom: "Gouvernement",
        }
        const stepsByOrganismeByEpoch = []
        stepsByOrganismeByEpochByLectureAndAssemblee.push([lecture, lecass, stepsByOrganismeByEpoch])
        const epochAndStepCouples = [
          [
            dossierLegislatif.proaccdat,
            {
              ...dossierLegislatif,
              __typename: "EngagementProcedureAcceleree",
            },
          ]
        ]
        if (dossierLegislatif.proaccoppdat !== null) {
          epochAndStepCouples.push([
            dossierLegislatif.proaccoppdat,
            {
              ...dossierLegislatif,
              __typename: "OppositionProcedureAcceleree",
            },
          ])
        }
        if (dossierLegislatif.retproaccdat !== null) {
          epochAndStepCouples.push([
            dossierLegislatif.retproaccdat,
            {
              ...dossierLegislatif,
              __typename: "RetraitProcedureAcceleree",
            },
          ])
        }
        let currentEpoch = null
        let steps = null
        for (let [epoch, step] of epochAndStepCouples) {
          if (epoch !== currentEpoch) {
            steps = []
            const stepsByOrganisme = [[null, steps]]
            stepsByOrganismeByEpoch.push([epoch, stepsByOrganisme])
            currentEpoch = epoch
          }
          steps.push(step)
        }
      }

      if (dossierLegislatif.saisineDate !== null) {
        // Saisine du Conseil constitutionnel
        const lecass = {
          ass: {
            codass: "C",
            libass: "Conseil constitutionnel",
          },
          lecassidt: "saisine_conseil_constitutionnel",
        }
        const lecture = {
          lecass: [lecass],
          leccom: "Conseil constitutionnel",
        }
        const stepsByOrganismeByEpoch = []
        stepsByOrganismeByEpochByLectureAndAssemblee.push([lecture, lecass, stepsByOrganismeByEpoch])
        const epochAndStepCouples = [
          [
            dossierLegislatif.saisineDate,
            {
              ...dossierLegislatif,
              __typename: "SaisineConseilConstitutionnel",
            },
          ]
        ]
        if (dossierLegislatif.dateDecision !== null) {
          epochAndStepCouples.push([
            dossierLegislatif.dateDecision,
            {
              ...dossierLegislatif,
              __typename: "DecisionConseilConstitutionnel",
            },
          ])
        }
        let currentEpoch = null
        let steps = null
        for (let [epoch, step] of epochAndStepCouples) {
          if (epoch !== currentEpoch) {
            steps = []
            const stepsByOrganisme = [[null, steps]]
            stepsByOrganismeByEpoch.push([epoch, stepsByOrganisme])
            currentEpoch = epoch
          }
          steps.push(step)
        }
      }

      if (dossierLegislatif.dateLoi !== null) {
        // Promulgation de la loi
        const lecass = {
          ass: {
            codass: "G",
            libass: "Gouvernement",
          },
          lecassidt: "promulgation_loi",
        }
        const lecture = {
          lecass: [lecass],
          leccom: "Gouvernement",
        }
        const stepsByOrganismeByEpoch = []
        stepsByOrganismeByEpochByLectureAndAssemblee.push([lecture, lecass, stepsByOrganismeByEpoch])
        const epochAndStepCouples = [
          [
            dossierLegislatif.dateLoi,
            {
              ...dossierLegislatif,
              __typename: "PromulgationLoi",
            },
          ]
        ]
        if (dossierLegislatif.loidatjo !== null) {
          epochAndStepCouples.push([
            dossierLegislatif.loidatjo,
            {
              ...dossierLegislatif,
              __typename: "PublicationLoi",
            },
          ])
        }
        if (dossierLegislatif.loidatjo2 !== null) {
          epochAndStepCouples.push([
            dossierLegislatif.loidatjo2,
            {
              ...dossierLegislatif,
              __typename: "PublicationPremierCorrectifLoi",
            },
          ])
        }
        if (dossierLegislatif.loidatjo3 !== null) {
          epochAndStepCouples.push([
            dossierLegislatif.loidatjo3,
            {
              ...dossierLegislatif,
              __typename: "PublicationSecondCorrectifLoi",
            },
          ])
        }
        let currentEpoch = null
        let steps = null
        for (let [epoch, step] of epochAndStepCouples) {
          if (epoch !== currentEpoch) {
            steps = []
            const stepsByOrganisme = [[null, steps]]
            stepsByOrganismeByEpoch.push([epoch, stepsByOrganisme])
            currentEpoch = epoch
          }
          steps.push(step)
        }
      }

      // Sort lectures by date (first and last date).
      stepsByOrganismeByEpochByLectureAndAssemblee.sort(
        (
          [lecture1, lecass1, stepsByOrganismeByEpoch1], // eslint-disable-line no-unused-vars
          [lecture2, lecass2, stepsByOrganismeByEpoch2], // eslint-disable-line no-unused-vars
        ) => {
          const firstEpoch1 = stepsByOrganismeByEpoch1[0][0]
          const firstEpoch2 = stepsByOrganismeByEpoch2[0][0]
          if (firstEpoch1 === firstEpoch2) {
            const lastEpoch1 = stepsByOrganismeByEpoch1[stepsByOrganismeByEpoch1.length - 1][0]
            const lastEpoch2 = stepsByOrganismeByEpoch2[stepsByOrganismeByEpoch2.length - 1][0]
            return lastEpoch1 - lastEpoch2
          } else {
            return firstEpoch1 - firstEpoch2
          }
        }
      )

      const lastUrlJo = dossierLegislatif.urlJo3 || dossierLegislatif.urlJo2 || dossierLegislatif.urlJo
      const urlRegExp = /^https?:\/\/www\.legifrance\.gouv\.fr\/eli\//
      const archeoLexUrl = lastUrlJo === null || lastUrlJo.match(urlRegExp) === null
        ? null
        : lastUrlJo.replace(urlRegExp, "https://archeo-lex.fr/eli/")
      return {
        archeoLexUrl,
        dossierLegislatif,
        stepsByOrganismeByEpochByLectureAndAssemblee,
      }
    },
  }
</script>